<header>
  <h1>Promote a Sale</h1>
</header>

<div class="goal-wrapper template-form">
  <i class="large-icon icon-money"></i>

  <h6>What should your Hello Bar say?</h6>
  {{view Ember.TextField value=model.headline placeholder="Check out our latest sale"}}

  <h6>What should the button say?</h6>
  {{view Ember.TextField value=model.link_text placeholder="Shop Now"}}

  <h6>What URL should users go to when they click your button?</h6>
  {{view Ember.TextField value=model.settings.url placeholder="www.example.com/seasonal-promotion"}}

  <div class="step-container">
    <button class="button cancel-button cancel" {{action 'closeEditor'}}>Cancel</button>
    <button class="button save-editor" {{action 'closeInterstitial'}}>Continue</button>
  </div>
</div>

<footer>
  <p>
    You can always change this later.
    <a href="mailto:support@hellobar.com?subject=Hello%20Bar%20-%20Getting%20Started">Need Help?</a>
  <p>
</footer>
