<header>
  <h5>Talk to Your Visitors</h5>
</header>

<div class="goal-wrapper template-form">
  <i class="large-icon icon-call"></i>

  <h6>What should your Hello Bar say?</h6>
  {{input value=model.headline placeholder="Talk to us to find out more" maxlength=255}}

  <h6>What should the button say?</h6>
  {{input value=model.link_text placeholder="Call Now" maxlength=255}}

  <h6>What phone number should be dialed?</h6>
  <div class="input-wrapper">
    {{input value=model.phone_number placeholder="(555) 555-555" maxlength=255}}
    <div class="select-wrapper">
      {{#power-select options=countries.countryCodes
        selected=selectedCountry
        searchField="name"
        renderInPlace=true
        onchange=(action "selectCountry") as |country|}}
        {{country.name}}
      {{/power-select}}
    </div>
  </div>

  <div class="step-container">
    {{#link-to "interstitial" replace=true classNames="button cancel-button cancel"}}Cancel{{/link-to}}
    <button class="button save-editor" {{action 'closeInterstitial'}} disabled={{inputIsInvalid}}>Continue</button>
  </div>
</div>

{{partial "partials/interstitial-footer"}}
