<label>Design your "Thank You" message</label>
{{#power-select options=afterSubmitOptions
  selected=afterSubmitOptionSelected
  renderInPlace=true
  searchEnabled=false
  onchange=(action "changeAfterSubmitValue") as |option|}}
  {{option.label}}
  {{#if option.isPro}}<span class="pro-tag">PRO</span>{{/if}}
{{/power-select}}

{{#if showRedirectUrlInput}}
  <label class="small">Redirect URL</label>
  {{input
  name='after_email_input'
  value=model.settings.redirect_url
  placeholder="http://www.example.com"
  maxlength=255
  }}
{{else}}
  {{#if showCustomMessage}}
    <label class="small">Custom message</label>
    {{input
    name='after_email_input'
    value=model.thank_you_text
    placeholder=model.default_email_thank_you_text
    maxlength=255
    }}
  {{else}}
    {{input
    name='after_email_input'
    value=model.default_email_thank_you_text
    placeholder=model.default_email_thank_you_text
    maxlength=255
    disabled=true
    }}
  {{/if}}
{{/if}}