<label>What do you want to collect from visitors?</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=collectionOptions
    value=model.settings.collect_names
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>

<label>Which contact list would you like your emails stored in?</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=contactListOptions
    value=model.contact_list_id
    optionValuePath='content.id'
    optionLabelPath='content.name'
    prompt="Please select a list"
  }}
</div>

{{#if showEditContactListLink}}
  <p>
    <a {{action "popEditContactListModal" model.contact_list_id}}>Edit this list</a>
  </p>
{{/if}}

<label>After visitor submits their email ...</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=afterSubmitOptions
    value=model.settings.after_email_submit_action
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>

{{#if showRedirectUrlInput}}
  {{#if disableRedirect}}
    <p><a {{action "openUpgradeModal" "redirect"}}>Upgrade required.</a></p>
  {{else}}
    {{
      view Ember.TextField
      value=model.settings.redirect_url
      placeholder="http://www.example.com"
      disabled=disableRedirect
      maxlength=255
    }}
  {{/if}}
{{else}}
  {{#if showDefaultMessage}}
    {{
      view Ember.TextField
      class="visible"
      value=model.default_email_thank_you
      placeholder=model.default_email_thank_you
      disabled=true
      maxlength=255
    }}
  {{else}}
    {{#if disableThankYouText}}
      <p><a {{action "openUpgradeModal" "thank_you"}}>Upgrade required.</a></p>
    {{else}}
      {{
        view Ember.TextField
        value=model.thank_you_text
        placeholder=model.default_email_thank_you
        disabled=disableThankYouText
        maxlength=255
      }}
    {{/if}}
  {{/if}}
{{/if}}
