<label>Choose input fields</label>

<div class="multiselect-wrapper js-fields-to-collect">
    {{#each field in preparedFields }}
        <div {{bind-attr class="field.is_enabled:is-selected :item-block" data-field-type=field.type}}>
            <span>{{ field.label }}</span>
            <span class="buttons">
                {{#if field.removable }}
                <a href="javascript:void(0)" class="remove-button" {{action 'removeFieldToCollect' field}}>
                    <i class="icon-close"></i>
                </a>
                {{/if}}
                <a href="javascript:void(0)" class="select-button" {{action 'toggleFieldToCollect' field}}>
                    <i class="hellobar-icon-check-mark"></i>
                </a>
            </span>
        </div>
    {{/each}}
    {{#if newFieldToCollect}}
        <div class="item-block new-item-prototype">
            {{input type="text" placeholder="Input field name and hit Enter"
            value=newFieldToCollect.label
            autofocus="autofocus" style=""
            insert-newline="onNewFieldToCollectEnterPressed"
            escape-press="onNewFieldToCollectEscapePressed"}}
        </div>
    {{else}}
        <div class="item-block add" {{action 'addFieldToCollect'}}>
            Add field
        </div>
    {{/if}}
</div>

<label>Choose your contact list and integration</label>
{{contact-list-select
  value=model.contact_list_id
  options=model.site.contact_lists
  setList="setContactList"
  editList="openEmailListPopup"
}}

<label>Design your "Thank You" message</label>
{{custom-pro-select
  choice=afterSubmitChoice
  options=afterSubmitOptions
  action="setModelAfterSubmitValue"
}}

{{#if showRedirectUrlInput}}
  <label class="small">Redirect URL</label>
  {{view Ember.TextField
    name='after_email_input'
    value=model.settings.redirect_url
    placeholder="http://www.example.com"
    maxlength=255
  }}
{{else}}
  {{#if showCustomMessage}}
    <label class="small">Custom message</label>
    {{view Ember.TextField
      name='after_email_input'
      value=model.thank_you_text
      placeholder=model.default_email_thank_you_text
      maxlength=255
    }}
  {{else}}
    {{view Ember.TextField
      name='after_email_input'
      value=model.default_email_thank_you_text
      placeholder=model.default_email_thank_you_text
      maxlength=255
      disabled=true
    }}
  {{/if}}
{{/if}}
