<label>What do you want to collect from visitors?</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=collectionOptions
    value=model.settings.collect_names
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>

<label>Which contact list would you like your emails stored in?</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=contactListOptions
    value=model.contact_list_id
    optionValuePath='content.id'
    optionLabelPath='content.name'
    prompt="Please select a list"
  }}
</div>

{{#if showEditContactListLink}}
  <p>
    <a {{action "popEditContactListModal" model.contact_list_id}}>Edit this list</a>
  </p>
{{/if}}

<label>After visitor enters email ...</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=afterSubmitOptions
    value=model.settings.redirect
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>

{{#if showRedirectUrlInput}}
  <label>Redirect Url</label>
  {{
    view Ember.TextField
    value=model.settings.redirect_url
    placeholder="http://www.example.com"
    disabled=disableRedirect
    maxlength=255
  }}

  {{#if disableRedirect}}
    <p><a {{action "openUpgradeModal"}}>Upgrade required.</a></p>
  {{/if}}
{{else}}
  <label>Thank you text</label>
  {{
    view Ember.TextField
    value=model.thank_you_text
    placeholder="Thank you!"
    disabled=disableThankYouText
    maxlength=255
  }}

  {{#if disableThankYouText}}
    <p><a {{action "openUpgradeModal"}}>Upgrade required.</a></p>
  {{/if}}
{{/if}}
