<header>
  <h5>Grow Your Mailing List</h5>
</header>

<div class="interstitial-side-by-side">
  <div class="goal-wrapper template-form">
    <i class="large-icon icon-contacts"></i>

    <h6>What should your Hello Bar say?</h6>
    {{input value=model.headline placeholder="Join our mailing list to stay up to date on our upcoming events" maxlength=255}}

    <h6>What should the button say?</h6>
    {{input value=model.link_text placeholder="Subscribe" maxlength=255}}

    <div class="step-container">
      {{#link-to "interstitial" replace=true classNames="button cancel-button cancel"}}Cancel{{/link-to}}
      <button class="button save-editor" {{action 'closeInterstitial'}} disabled={{inputIsInvalid}}>Continue</button>
    </div>
  </div>
</div>

{{interstitial/helpers/interstitial-footer}}
