<header>
  <h5>Promote a Sale</h5>
</header>

<div class="goal-wrapper template-form">
  <i class="large-icon icon-money"></i>

  <h6>What should your Hello Bar say?</h6>
  {{input value=model.headline placeholder="Check out our latest sale" maxlength=255}}

  <h6>What should the button say?</h6>
  {{input value=model.link_text placeholder="Shop Now" maxlength=255}}

  <h6>What URL should users go to when they click your button?</h6>
  {{input value=model.settings.url placeholder=model.site.url maxlength=510}}

  <div class="step-container">
    {{#link-to "interstitial" replace=true classNames="button cancel-button cancel"}}Cancel{{/link-to}}
    <button class="button save-editor" {{action "closeInterstitial"}} disabled={{inputIsInvalid}}>Continue</button>
  </div>
</div>

{{interstitial/helpers/interstitial-footer model=model}}

