<header>
  <img src="{{ image_path "icons/h-logo.svg" }}">
  <h5>Choose Goal</h5>
</header>

<div class="line-1">
  Step 1 is to choose your goal.
</div>

<div class="line-2">
  What do you want to do with your first campaign?
</div>

<div class="goal-wrapper">
  <a {{action 'selectGoal' 'interstitial.email'}}>
  <div class="goal-block contacts" data-route="email">
    <h6>Collect Emails</h6>
    <img src="{{ image_path 'icons/goal-emails.svg' }}">

    <p>I want to collect my visitors email addresses.</p>
  </div>
  </a>

  <a {{action 'selectGoal' 'interstitial.target'}}>
  <div class="goal-block other" data-route="target">
    <h6>Target a URL</h6>
    <img src="{{ image_path 'icons/goal-url.svg' }}">

    <p>Drive traffic to a certain part of your site.</p>
  </div>
  </a>

  <a {{action 'selectGoal' 'interstitial.traffic'}}>
  <div class="goal-block money" data-route="traffic">
    <h6>Generate Sales</h6>
    <img src="{{ image_path 'icons/goal-sales.svg' }}">

    <p>Let visitors know about a sale or a promotion.</p>
  </div>
  </a>
</div>

<div class="goal-wrapper">
  <a {{action 'selectGoal' 'interstitial.announcement'}}>
  <div class="goal-block other" data-route="announcement">
    <h6>Make Announcement</h6>
    <img src="{{ image_path 'icons/goal-announcement.svg' }}">

    <p>No buttons, make announcements with just text.</p>
  </div>
  </a>

  <a {{action 'selectGoal' 'interstitial.call'}}>
  <div class="goal-block call" data-route="call">
    <h6>Get Phone Calls</h6>
    <img src="{{ image_path 'icons/goal-calls.svg' }}">

    <p>Allow users to call you in one click.</p>
  </div>
  </a>

  <a {{action 'selectGoal' 'interstitial.social'}}>
  <div class="goal-block facebook" data-route="social">
    <h6>Social Engagement</h6>
    <img src="{{ image_path 'icons/goal-social.svg' }}">

    <p>Point visitors to your social media channels.</p>
  </div>
  </a>
</div>

<footer>
  {{interstitial/helpers/i-need-help model=model}}
  <p>
    <small>
      <a href="/sites/{{ siteID }}">I’ll do this later, take me to my dashboard</a>
      <br/>
      <a href="/users/sign_out" data-method="delete">Sign Out</a>
    </small>
  </p>
</footer>
