<header>
  <h5>Get Facebook Likes</h5>
</header>

<div class="goal-wrapper template-form">
  <i class="large-icon icon-thumbsup"></i>

  <h6>What should your Hello Bar say?</h6>
  {{input value=model.headline placeholder="Like us on Facebook!" maxlength=255}}

  <h6>What URL do you want users to Like on Facebook?</h6>

  <div class="{{if showFacebookUrl 'nospace' 'bottom-spacer'}}">
    <div class="select-wrapper">

      {{#power-select options=facebookLikeOptions selected=selectedFacebookLikeOption
      renderInPlace=true
      searchEnabled=false
      onchange=(action "selectFacebookLikeOption") as |option|}}
        {{option.label}}
      {{/power-select}}

    </div>
  </div>
  {{input value=model.settings.url_to_like placeholder=model.site.url maxlength=255 classBinding="showFacebookUrl:enabled:hidden"}}

  <div class="step-container">
    {{#link-to "interstitial" replace=true classNames="button cancel-button cancel"}}Cancel{{/link-to}}
    <button class="button save-editor" {{action "closeInterstitial"}} disabled={{inputIsInvalid}}>
      Continue
    </button>
  </div>
</div>

{{interstitial/helpers/interstitial-footer}}

