<p>Report for users/sites created from <%= @metrics.beginning_of_last_week %> (inc)
to <%= @metrics.beginning_of_current_week %> (excl)</p>

<p>Newly registered users: <%= number_with_delimiter(@metrics.users.size) %></p>

<p>Newly created sites: <%= number_with_delimiter(@metrics.sites.size) %></p>

<p>Newly created sites which installed the script:
<%= number_with_delimiter(@metrics.installed_sites.size) %>
(<%= number_to_percentage((@metrics.installed_sites.size.to_f / @metrics.sites.size) * 100, precision: 1) %> conversion)
</p>

<p>Newly created sites with still installed script:
<%= number_with_delimiter(@metrics.still_installed_sites.size) %>
(<%= number_to_percentage((@metrics.still_installed_sites.size.to_f / @metrics.sites.size) * 100, precision: 1) %> conversion)
</p>

<p>Newly created sites installation churn:
<%= number_to_percentage(@metrics.installation_churn * 100, precision: 1) %>
</p>

<p>New revenue (new subscriptions or upgrades):
<%= number_to_currency(@metrics.revenue_sum) %></p>

<ul>
<li>
  Pro (Monthly): <%= number_with_delimiter(@metrics.pro_monthly.size) %>
  (<%= number_to_currency(@metrics.pro_monthly.sum(&:amount)) %>)
</li>
<li>
  Pro (Yearly): <%= number_with_delimiter(@metrics.pro_yearly.size) %>
  (<%= number_to_currency(@metrics.pro_yearly.sum(&:amount)) %>)
</li>
<li>
  Enterprise (Monthly): <%= number_with_delimiter(@metrics.enterprise_monthly.size) %>
  (<%= number_to_currency(@metrics.enterprise_monthly.sum(&:amount)) %>)
</li>
<li>
  Enterprise (Yearly): <%= number_with_delimiter(@metrics.enterprise_yearly.size) %>
  (<%= number_to_currency(@metrics.enterprise_yearly.sum(&:amount)) %>)
</li>
</ul>

<p>Numbers above do not take refunds, voids nor canceled subscriptions into
consideration, i.e. it is the most optimistic look at the revenue.</p>
