<p>Report from <%= @metrics.two_weeks_ago %> to <%= @metrics.last_week %></p>

<p>Created sites: <%= number_with_delimiter(@metrics.sites.size) %></p>

<p>Installed sites: <%= number_with_delimiter(@metrics.installed_sites.size) %>
(<%= number_to_percentage((@metrics.installed_sites.size.to_f / @metrics.sites.size) * 100, precision: 1) %> conversion)
</p>

<p>New revenue (new subscriptions or upgrades): <%= number_to_currency(@metrics.revenue_sum) %></p>

<ul>
<li>
  Pro (Monthly): <%= number_with_delimiter(@metrics.pro_monthly.size) %>
  (<%= number_to_currency(@metrics.pro_monthly.inject(0) { |s, b| s + b.amount }) %>)
</li>
<li>
  Pro (Yearly): <%= number_with_delimiter(@metrics.pro_yearly.size) %>
  (<%= number_to_currency(@metrics.pro_yearly.inject(0) { |s, b| s + b.amount }) %>)
</li>
<li>
  Enterprise (Monthly): <%= number_with_delimiter(@metrics.enterprise_monthly.size) %>
  (<%= number_to_currency(@metrics.enterprise_monthly.inject(0) { |s, b| s + b.amount }) %>)
</li>
<li>
  Enterprise (Yearly): <%= number_with_delimiter(@metrics.enterprise_yearly.size) %>
  (<%= number_to_currency(@metrics.enterprise_yearly.inject(0) { |s, b| s + b.amount }) %>)
</li>
</ul>

<p>Numbers above do not take refunds, voids nor canceled subscriptions into consideration, i.e. it is the most optimistic look at revenue.</p>
