<div id="" class="tab-content">

  <label>Background Color</label>
  {{design/colors/selection/color-select color=model.background_color siteColors=siteColors recentColors=recentColors focusedColor=focusedColor eyeDropperSelected='eyeDropperSelected'}}

  <label>Default Text Color</label>
  {{design/colors/selection/color-select color=model.text_color siteColors=siteColors recentColors=recentColors focusedColor=focusedColor eyeDropperSelected='eyeDropperSelected'}}

  <label>Button</label>
  {{design/colors/selection/color-select color=model.button_color siteColors=siteColors recentColors=recentColors focusedColor=focusedColor eyeDropperSelected='eyeDropperSelected'}}

  {{#if elementTypeIsAlert}}
    <label>Trigger Color</label>
    {{design/colors/selection/color-select color=model.trigger_color siteColors=siteColors recentColors=recentColors focusedColor=focusedColor eyeDropperSelected='eyeDropperSelected'}}

    <label>Trigger Icon Color</label>
    {{design/colors/selection/color-select color=model.trigger_icon_color siteColors=siteColors recentColors=recentColors focusedColor=focusedColor eyeDropperSelected='eyeDropperSelected'}}
  {{/if}}

  <br/>

  <label>Button border radius (rounded corners)</label>

  <div class="slider-wrapper">
    {{common/sliders/range-slider min=0 max=100 start=model.cta_border_radius update="buttonCornersUpdated" leftLabel="0" rightLabel="100"}}
  </div>

  <br/>

  <label>Button border color</label>
  {{design/colors/selection/color-select color=model.cta_border_color siteColors=siteColors recentColors=recentColors focusedColor=focusedColor eyeDropperSelected='eyeDropperSelected'}}

  <label>Button border width</label>

  <div class="slider-wrapper">
    {{common/sliders/range-slider min=0 max=8 default=1 start=model.cta_border_width update="buttonBorderUpdated" leftLabel="0" rightLabel="8"}}
  </div>
</div>
