<nav class="links-wrapper">
  <ul class="step-links">
    <li>
      {{#link-to 'settings'}}<i class="icon-settings"></i>{{/link-to}}
      <div class="hover-tip">Settings</div>
    </li>
    <li>
      {{#link-to 'style.bar'}}<i class="icon-style"></i>{{/link-to}}
      <div class="hover-tip">Style</div>
    </li>
    <li>
      {{#link-to 'colors'}}<i class="icon-color"></i>{{/link-to}}
      <div class="hover-tip">Colors</div>
    </li>
    <li>
      {{#link-to 'text'}}<i class="icon-content"></i>{{/link-to}}
      <div class="hover-tip">Text & Content</div>
    </li>
    <li>
      {{#link-to 'targeting'}}<i class="icon-views"></i>{{/link-to}}
      <div class="hover-tip">Targeting</div>
    </li>
  </ul>

  <ul class="action-links">
    <li class="toggle-fullscreen">
      <a {{action 'toggleFullscreen'}}>
        <i class="icon-arrow"></i>
        <i class="icon-arrow"></i>
      </a>
    </li>
    <li class="toggle-mobile">
      <a {{action 'toggleMobile'}}>
        <i class="icon-mobile"></i>
        <i class="icon-desktop"></i>
      </a>
    </li>
    {{#unless isTemporaryUser}}
      <li><a {{action "closeEditor"}}><i class="icon-close"></i></a></li>
    {{/unless}}
  </ul>
</nav>

<div class="viewport-wrapper">
  <div class="step-wrapper">
    {{outlet}}
    {{step-navigation current=currentStep prev=prevRoute next=nextRoute}}

    {{#if saveSubmitted}}
      <a disabled class="button save-button">Saving</a>
    {{else}}
      <a class="button save-button" {{action "saveSiteElement"}}>Save</a>
    {{/if}}
  </div>

  <div class="preview-wrapper">
    {{render 'preview' model}}
  </div>
</div>
