<nav class="links-wrapper">
  <ul class="step-links">
    <li>
      {{#link-to 'settings'}}<i class="icon-settings"></i>{{/link-to}}
      <div class="hover-tip">Settings</div>
    </li>
    <li>
      {{#link-to 'style'}}<i class="icon-style"></i>{{/link-to}}
      <div class="hover-tip">Style</div>
    </li>
    <li>
      {{#link-to 'colors'}}<i class="icon-color"></i>{{/link-to}}
      <div class="hover-tip">Colors</div>
    </li>
    <li>
      {{#link-to 'text'}}<i class="icon-content"></i>{{/link-to}}
      <div class="hover-tip">Text & Content</div>
    </li>
    <li>
      {{#link-to 'targeting'}}<i class="icon-views"></i>{{/link-to}}
      <div class="hover-tip">Targeting</div>
    </li>
  </ul>

  <ul class="action-links">
    <li class="toggle-fullscreen">
      <a {{action 'toggleFullscreen'}}>
        <i class="icon-back2"></i>
        <i class="icon-back2"></i>
      </a>
    </li>
    <li class="toggle-mobile">
      <a {{action 'toggleMobile'}}>
        <i class="icon-desktop"></i>
        <i class="icon-mobile"></i>
      </a>
    </li>
    <li><a {{action "closeEditor"}}><i class="icon-close"></i></a></li>
  </ul>
</nav>

<div class="viewport-wrapper">
  <div class="step-wrapper">
    {{outlet}}
    {{step-navigation action='saveSiteElement' current=currentStep
    prev=prevRoute next=nextRoute saveSubmitted=saveSubmitted
    doneButtonText=doneButtonText cannotContinue=cannotContinue}}
  </div>

  <div class="preview-wrapper">
    {{render 'preview' model}}
  </div>
</div>
