<nav class="links-wrapper">
  <ul class="step-links">
    <li>
      {{#link-to 'settings'}}<i clas="icon-settings">Se</i>{{/link-to}}
      <div class="hover-tip">Settings</div>
    </li>
    <li>
      {{#link-to 'style'}}<i clas="icon-style">St</i>{{/link-to}}
      <div class="hover-tip">Style</div>
    </li>
    <li>
      {{#link-to 'colors'}}<i clas="icon-colors">Co</i>{{/link-to}}
      <div class="hover-tip">Colors</div>
    </li>
    <li>
      {{#link-to 'text'}}<i clas="icon-text">Tx</i>{{/link-to}}
      <div class="hover-tip">Text & Content</div>
    </li>
    <li>
      {{#link-to 'targeting'}}<i clas="icon-targeting">Ta</i>{{/link-to}}
      <div class="hover-tip">Targeting</div>
    </li>
  </ul>

  <ul class="action-links">
    <li>
      <a {{action 'toggleFullscreen'}} class="toggle-fullscreen">
        <i clas="icon-arrow"><</i>
      </a>
    </li>
    <li>
      <a {{action 'toggleMobile'}} class="toggle-mobile">
        <i clas="icon-desktop">De</i>
        <i clas="icon-mobile">Mo</i>
      </a>
    </li>
    <li><a><i clas="icon-comment"><></i></a></li>
    <li><a><i clas="icon-faq">??</i></a></li>
    <li><a><i clas="icon-close">X</i></a></li>
  </ul>
</nav>

<div class="viewport-wrapper">
  <div class="step-wrapper">
    {{outlet}}
    {{step-navigation current=currentStep prev=prevRoute next=nextRoute}}
  </div>

  <div class="preview-wrapper">
    {{render 'preview' preview}}
  </div>
</div>

<div {{bind-attr class="modal:show-modal :modal-wrapper"}} {{action 'toggleModal'}}>
  <div class="modal-block">
    {{outlet 'modal'}}
  </div>
</div>