<div {{bind-attr class="isFullscreen isMobile :editor-wrapper"}}>
  <nav class="links-wrapper">
    <ul class="step-links">
      <li>
        {{#link-to 'settings'}}<i clas="icon-settings"></i>{{/link-to}}
        <div class="hover-tip">Settings</div>
      </li>
      <li>
        {{#link-to 'style'}}<i clas="icon-style"></i>{{/link-to}}
        <div class="hover-tip">Style</div>
      </li>
      <li>
        {{#link-to 'colors'}}<i clas="icon-colors"></i>{{/link-to}}
        <div class="hover-tip">Colors</div>
      </li>
      <li>
        {{#link-to 'text'}}<i clas="icon-text"></i>{{/link-to}}
        <div class="hover-tip">Text & Content</div>
      </li>
      <li>
        {{#link-to 'targeting'}}<i clas="icon-targeting"></i>{{/link-to}}
        <div class="hover-tip">Targeting</div>
      </li>
    </ul>

    <ul class="action-links">
      <li {{action 'toggleFullscreen'}} class="toggle-fullscreen">
        <i clas="icon-arrow"></i>
      </li>
      <li {{action 'toggleMobile'}} class="toggle-mobile">
        <i clas="icon-desktop"></i>
        <i clas="icon-mobile"></i>
      </li>
      <li {{action 'triggerComment'}} class="trigger-comment">
        <i clas="icon-comment"></i>
      </li>
      <li {{action 'triggerFAQ'}} class="trigger-faq">
        <i clas="icon-faq"></i>
      </li>
      <li {{action 'triggerClose'}} class="trigger-close">
        <i clas="icon-faq"></i>
      </li>
    </ul>
  </nav>

  <div class="step-wrapper">
    {{outlet}}
    {{view HelloBar.StepNavigationView step=currentStep prev=prevRoute next=nextRoute}}
  </div>

  <div class="preview-wrapper">
    {{render 'preview' preview}}
  </div>
</div>

<div {{bind-attr class="isModal :modal-wrapper"}}>
  {{outlet 'modal'}}
</div>