<div class="step-title">Colors</div>

<label>Background</label>
{{color-select color=model.background_color siteColors=siteColors recentColors=recentColors}}

<label>Text</label>
{{color-select color=model.text_color siteColors=siteColors recentColors=recentColors}}

<label>Button Text</label>
{{color-select color=model.link_color siteColors=siteColors recentColors=recentColors}}

<label>Button</label>
{{color-select color=model.button_color siteColors=siteColors recentColors=recentColors}}

<label>Theme</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=themeOptions
    selection=model.theme_selection
    optionValuePath='content.id'
    optionLabelPath='content.text'
  }}
</div>
{{!-- ^ will likely need to be a component... --}}
