<div class="step-title">Colors</div>

<label>Background</label>
{{color-select color=content.backgroundColor siteColors=siteColors recentColors=recentColors}}

<label>Text</label>
{{color-select color=content.textColor siteColors=siteColors recentColors=recentColors}}

<label>Button Text</label>
{{color-select color=content.buttonTextColor siteColors=siteColors recentColors=recentColors}}

<label>Button</label>
{{color-select color=content.buttonColor siteColors=siteColors recentColors=recentColors}}

<label>Theme</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=content.themeOptions
    selection=content.themeSelection
    optionValuePath='content.id'
    optionLabelPath='content.text'
  }}
</div>
{{!-- ^ will likely need to be a component... --}}