<h5 class="step-title">Targeting</h5>

{{#if targetingUiVariant}}
  <div {{bind-attr class="onSubRoute:is-selected :step-link-wrapper"}}>
    {{#link-to 'targeting.everyone' class='step-link-block'}}
      <i class="hellobar-icon hellobar-icon-people"></i>
      <h6>Everyone</h6>
      <p>Show your Hello Bar to everyone on every page of your site.</p>
    {{/link-to}}

    {{#link-to 'targeting.mobile' classBinding="canTarget:can-target" class='step-link-block'}}
      <i class="hellobar-icon hellobar-icon-mobile-phone"></i>
      <h6>
        Mobile Visitors
        <span class="button paid">PAID</span>
      </h6>
      <p>Show your Hello Bar to visitors who go to your site on mobile devices.</p>
    {{/link-to}}

    {{#link-to 'targeting.homepage' classBinding="canTarget:can-target" class='step-link-block'}}
      <i class="hellobar-icon hellobar-icon-house"></i>
      <h6>
        Homepage Visitors
        <span class="button paid">PAID</span>
      </h6>
      <p>Show your Hello Bar on your site’s homepage only.</p>
    {{/link-to}}

    {{#link-to 'targeting.custom' classBinding="canTarget:can-target" class='step-link-block'}}

      <i class="hellobar-icon hellobar-icon-settings-knobs"></i>
      <h6>
        Custom Rule
        <span class="button paid">PAID</span>
      </h6>
      <p>Show your Hello Bar to a custom audience of your choice.</p>
    {{/link-to}}

    {{#if hasCustomRules}}
      {{#link-to 'targeting.saved' classBinding="canTarget:can-target" class='step-link-block saved-rule'}}
        <i class="hellobar-icon hellobar-icon-saved-segment"></i>
        <h6 class="left-condense">
          <span class="left">Show to a saved targeting rule</span>
          <span class="button paid">PAID</span>
        </h6>
        <p>Show your Hello Bar to a custom targeting rule that you’ve saved before.</p>
      {{/link-to}}
    {{/if}}

    {{outlet}}

    <a {{action 'resetRuleDropdown'}} class="change-selection">
      <i class="icon-back1"></i>
      Change Target Audience
    </a>
  </div>

  {{!--
  {{#popup-hint-trigger}}
    <p>Here's sample hint with some <strong>formatting</strong>.</p>
  {{/popup-hint-trigger}}
  --}}

  <label>
    <span>Cookie Duration</span>
    {{#popup-hint-trigger}}
      <p>Here's sample hint with some <strong>formatting</strong>.</p>
      <p>Here's sample hint with some <strong>formatting</strong>.</p>
      <p>Here's sample hint with some <strong>formatting</strong>.</p>
    {{/popup-hint-trigger}}
  </label>
  {{
  view Ember.TextField
    value=30
    placeholder="Cookie Duration"
    maxlength=5
  }}

  <label>Success Cookie Duration</label>
  {{
  view Ember.TextField
    value=365
    placeholder="Success Cookie Duration"
    maxlength=5
  }}


{{else}}

  <label>Who should see this?</label>
  <div class="select-wrapper">
    {{view Ember.Select
      content=ruleOptionsOriginal
      value=model.rule_id
      optionValuePath='content.id'
      optionLabelPath='content.name'
    }}
  </div>
  <p>{{selectedRuleOriginal.description}}. {{#if selectedRuleOriginal.editable}}<a class="edit-rule" {{action 'openRuleModalOriginal' selectedRuleOriginal}}>Edit.</a>{{/if}}</p>

  {{#unless hideShowAfterConvertOptions}}
    <label>How often should the Hello Bar be displayed?</label>
    <div class="select-wrapper">
      {{view Ember.Select
        content=showAfterConvertOptions
        value=model.show_after_convert
        optionValuePath='content.value'
        optionLabelPath='content.label'
      }}
    </div>
  {{/unless}}
{{/if}}
