<h5 class="step-title">Targeting</h5>

<label>Who should see this?</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=ruleOptions
    value=model.rule_id
    optionValuePath='content.id'
    optionLabelPath='content.text'
  }}
</div>
<p>Show this bar to {{selectedRuleDescription}}. <a {{action 'triggerModal' model.rule}}>Edit.</a></p>

<label>Who should they see this?</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=whenOptions
    selection=model.whenSelection
    optionValuePath='content.route'
    optionLabelPath='content.text'
  }}
</div>

{{outlet}}
