<h5 class="step-title">Targeting</h5>

<label>Who should see this?</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=ruleOptions
    value=model.rule_id
    optionValuePath='content.id'
    optionLabelPath='content.text'
  }}
</div>
<p>Show this bar to {{selectedRule.description}}. <a class="edit-rule" {{action 'triggerModal' selectedRule}}>Edit.</a></p>

<label>When should they see this?</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=displayWhenOptions
    value=model.display_when
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>

{{outlet}}
