<h5 class="step-title">Text and Content</h5>

<label>Bar text</label>
{{view Ember.TextField value=model.headline placeholder="Subscribe to our mailing list"}}

<label>Link text</label>
{{view Ember.TextField value=model.link_text placeholder="OK!"}}

{{#if showThankYouText}}
  <label>Thank you text</label>
  {{
    view Ember.TextField
    value=model.thank_you_text
    placeholder="Thank you!"
    disabled=disableThankYouText
  }}

  {{#if disableThankYouText}}
    <p><a {{action "openUpgradeModal"}}>Upgrade required.</a></p>
  {{/if}}

{{/if}}

<label>Font family</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=fontOptions
    value=model.font
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>
