<h5 class="step-title">Text and Content</h5>

<label>Headline</label>
{{view Ember.TextField value=model.headline placeholder="Subscribe to our mailing list" maxlength=255}}

{{#unless hideNonBarFields}}
  <label>Caption</label>
  {{view Ember.TextField value=model.caption placeholder="(optional)" maxlength=255}}
{{/unless}}

{{#if showNamePlaceholderText}}
  <label>Name placeholder</label>
  {{
    view Ember.TextField
    value=model.name_placeholder
    placeholder="Your name"
    maxlength=100
  }}
{{/if}}

{{#if showEmailPlaceholderText}}
  <label>Email placeholder</label>
  {{
    view Ember.TextField
    value=model.email_placeholder
    placeholder="Your email"
    maxlength=100
  }}
{{/if}}

{{#unless hideLinkText}}
  <label>Button text</label>
  {{view Ember.TextField value=model.link_text placeholder="OK!" maxlength=255}}
{{/unless}}

<label>Font family</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=fontOptions
    value=model.font
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>

{{#unless hideNonBarFields}}
  <label>Image placement</label>
  <div class="select-wrapper">
    {{view Ember.Select
      content=imagePlacementOptions
      value=model.image_placement
      optionValuePath='content.value'
      optionLabelPath='content.label'
    }}
  </div>

  <label>Upload an image</label>
  <div class="image-upload">
    {{image-upload
      setImageProps="setImageProps"
      existingURL=model.image_url
    }}
  </div>
{{/unless}}
