<h5 class="step-title">Text and Content</h5>

<label>{{input type="checkbox" name="has_question" checked=model.has_question}}
Ask question from user first?</label>

{{#unless showQuestionFields}}
  <label>Headline</label>
  {{view Ember.TextField value=model.headline placeholder="Subscribe to our mailing list" maxlength=255}}
{{/unless}}

{{#unless hideNonBarFields}}
  <label>Caption</label>
  {{view Ember.TextField value=model.caption placeholder="(optional)" maxlength=255}}
{{/unless}}

{{#if showNamePlaceholderText}}
  <label>Name placeholder</label>
  {{
    view Ember.TextField
    value=model.name_placeholder
    placeholder="Your name"
    maxlength=100
  }}
{{/if}}

{{#if showEmailPlaceholderText}}
  <label>Email placeholder</label>
  {{
    view Ember.TextField
    value=model.email_placeholder
    placeholder="Your email"
    maxlength=100
  }}
{{/if}}

{{#unless showQuestionFields}}
  {{#unless hideLinkText}}
    <label>Button text</label>
    {{view Ember.TextField value=model.link_text placeholder="OK!" maxlength=255}}
  {{/unless}}
{{/unless}}

{{#if showQuestionFields}}
  <label>What's your question?</label>
  {{view Ember.TextField value=model.question placeholder="Do you like money?"}}

  <label>First Answer</label>
  {{view Ember.TextField value=model.answer1 placeholder="Yes"}}

  <label>Second Answer</label>
  {{view Ember.TextField value=model.answer2 placeholder="No"}}

  <label>First Answer Headline</label>
  {{view Ember.TextField value=model.answer1response placeholder="Then I can teach you how to make more money"}}

  {{#unless hideLinkText}}
    <label>First Answer Button Text</label>
    {{view Ember.TextField value=model.answer1link_text placeholder="Let's do it!"}}
  {{/unless}}

  <label>Second Answer Headline</label>
  {{view Ember.TextField value=model.answer2response placeholder="Then I can teach you how to love money"}}

  {{#unless hideLinkText}}
    <label>Second Answer Button Text</label>
    {{view Ember.TextField value=model.answer2link_text placeholder="Cool!"}}
  {{/unless}}

  <p>
    <a {{action "resetAnswerState"}}>Reset Answer State</a>
  </p>
{{/if}}

<label>Font family</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=fontOptions
    value=model.font
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>

{{#unless hideNonBarFields}}
  <label>Upload an image</label>
  <div class="image-upload">
    {{image-upload
      setImageProps="setImageProps"
      existingURL=model.image_url
      existingFileName=model.image_file_name
    }}
  </div>

  {{#if showImagePlacementField}}
    <label>Image placement</label>
    <div class="select-wrapper">
      {{view Ember.Select
        content=imagePlacementOptions
        value=model.image_placement
        optionValuePath='content.value'
        optionLabelPath='content.label'
      }}
    </div>
  {{/if}}
{{/unless}}
