<label>Hello Bar branding
  {{toggle-switch switch=model.show_branding}}
</label>

<label>Animate entry/exit
  {{toggle-switch switch=model.animated}}
</label>

{{#if canWiggle}}
<label>Wiggle button
  {{toggle-switch switch=model.wiggle_button}}
</label>
{{/if}}

<label>Allow to hide bar
  {{toggle-switch switch=model.closable}}
</label>

<label>{{ pushesText }}
  {{toggle-switch switch=model.pushes_page_down}}
</label>

<label>Remains in place
  {{toggle-switch switch=model.remains_at_top}}
</label>

<label>Placement</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=placementOptions
    value=selectedPlacement
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>

<label>Bar Size</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=sizeOptions
    value=model.size
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>

{{#if canSetViewTrigger}}
<label>When does it display? <a {{action "popDelayTootlipModal"}}>(what's this?)</a></label>
<div class="select-wrapper">
  {{view Ember.Select
    content=triggerOptions
    value=selectedTrigger
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>
{{/if}}
