<label>Theme</label>
{{view Ember.Select
  content=themeOptions
  selection=themeSelection
  optionValuePath='content.id'
  optionLabelPath='content.text'
}}
{{!-- ^ will likely need to be a component... --}}

<label>Hello Bar branding
  {{view Ember.Checkbox checked=isBranded}}
</label>

<label>Animations
  {{view Ember.Checkbox checked=isAnimated}}
</label>

<label>Allow to hide bar
  {{view Ember.Checkbox checked=isHidable}}
</label>

<label>Placement</label>
{{view Ember.Select
  content=placementOptions
  selection=placementSelection
  optionValuePath='content.id'
  optionLabelPath='content.text'
}}
