
<label title="Your bar will contain Hello Bar branding. By turning it off you will receive more clicks and conversions.">
  {{toggle-switch switch=model.show_branding}}
  Hello Bar branding
</label>

<label>
  {{toggle-switch switch=model.animated}}
  Animate entry/exit
</label>

{{#if canWiggle}}
<label>
  {{toggle-switch switch=model.wiggle_button}}
  Wiggle button
</label>
{{/if}}

<label>
  {{toggle-switch switch=model.closable}}
  Allow to hide bar
</label>

<label>
  {{toggle-switch switch=model.pushes_page_down}}
  {{ pushesText }}
</label>

<label>
  {{toggle-switch switch=model.remains_at_top}}
  Remains in place
</label>

<label>Placement</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=placementOptions
    value=selectedPlacement
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>

<label>Bar Size</label>
<div class="slider-wrapper">
  {{range-slider min=30 max=110 start=adoptedBarSize update="barSizeUpdated" leftLabel="small" rightLabel="large"}}
</div>

<label>When does it display? <a {{action "popDelayTootlipModal"}} class="tooltip-label">(what's this?)</a></label>
<div class="select-wrapper">
  {{view Ember.Select
    content=triggerOptions
    value=selectedTrigger
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>

{{#unless hideShowAfterConvertOptions}}
  {{!--
  <label>How often should the Hello Bar be displayed?</label>
  <div class="select-wrapper">
    {{view Ember.Select
      content=showAfterConvertOptions
      value=model.show_after_convert
      optionValuePath='content.value'
      optionLabelPath='content.label'
    }}
  </div>
  --}}
{{/unless}}
