<label>Type</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=typeOptions
    value=model.type
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>

<label>Hello Bar branding
  {{toggle-switch switch=model.show_branding}}
</label>

<label>Animate entry/exit
  {{toggle-switch switch=model.animated}}
</label>

<label>Wiggle button
  {{toggle-switch switch=model.wiggle_button}}
</label>

<label>Allow to hide bar
  {{toggle-switch switch=model.closable}}
</label>

<label>Pushes page down
  {{toggle-switch switch=model.pushes_page_down}}
</label>

<label>Remains at top
  {{toggle-switch switch=model.remains_at_top}}
</label>

<label>Bar Size</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=sizeOptions
    value=model.size
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>
