<label>Hello Bar branding
  {{toggle-switch switch=model.show_branding}}
</label>

<label>Animations
  {{toggle-switch switch=model.animated}}
</label>

<label>Pushes page down
  {{toggle-switch switch=model.pushes_page_down}}
</label>

<label>Remains at top
  {{toggle-switch switch=model.remains_at_top}}
</label>

<label>Bar Size</label>
<div class="select-wrapper">
  {{view Ember.Select
    content=sizeOptions
    value=model.size
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>
