<label>Theme</label>
{{view Ember.Select
  content=content.themeOptions
  selection=content.barThemeSelection
  optionValuePath='content.id'
  optionLabelPath='content.text'
}}
{{!-- ^ will likely need to be a component... --}}

<label>Hello Bar branding
  {{toggle-switch switch=content.barIsBranded}}
</label>

<label>Animations
  {{toggle-switch switch=content.barIsAnimated}}
</label>

<label>Allow to hide bar
  {{toggle-switch switch=content.barIsHidable}}
</label>

<label>Placement</label>
{{view Ember.Select
  content=content.placementOptions
  selection=content.barPlacementSelection
  optionValuePath='content.id'
  optionLabelPath='content.text'
}}
