<label title="Your takeover will contain Hello Bar branding. By turning it off you will receive more clicks and conversions.">
  {{toggle-switch switch=model.show_branding}}
  Hello Bar branding
</label>

<label>
  {{toggle-switch switch=model.animated}}
  Animations
</label>

<label>When does it display? <small><a {{action "popDelayTootlipModal"}} class="tooltip-label">(What's this?)</a></small></label>
<div class="select-wrapper">
  {{view Ember.Select
    content=triggerOptions
    value=selectedTrigger
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>

{{#unless hideShowAfterConvertOptions}}
  <label>How often should the Hello Bar be displayed?</label>
  <div class="select-wrapper">
    {{view Ember.Select
      content=showAfterConvertOptions
      value=model.show_after_convert
      optionValuePath='content.value'
      optionLabelPath='content.label'
    }}
  </div>
{{/unless}}
