<label>Hello Bar branding
  {{toggle-switch switch=model.show_branding}}
</label>

<label>Hello Bar ads
  {{toggle-switch switch=model.show_branding}}
</label>

<label>Animations
  {{toggle-switch switch=model.animated}}
</label>

<label>When does it display? <small><a {{action "popDelayTootlipModal"}} class="tooltip-label">(What's this?)</a></small></label>
<div class="select-wrapper">
  {{view Ember.Select
    content=triggerOptions
    value=selectedTrigger
    optionValuePath='content.value'
    optionLabelPath='content.label'
  }}
</div>
