{{input value=formattedValue disabled="disabled"}}

<div class="font-size-input__controls">
  <div class="font-size-input__control" {{ action "increment" }}>
    {{fa-icon 'caret-up' size='sm'}}
  </div>
  <div class="font-size-input__control" {{ action "decrement" }}>
    {{fa-icon 'caret-down' size='sm'}}
  </div>
</div>
