{{#common/panels/collapse-panel title="Alert Styling"}}
  <div class="panel-input">
    <div class="panel-input__label">Color</div>
    <div class="panel-input__input">
      {{common/inputs/font-color color=model.background_color}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Default text color</div>
    <div class="panel-input__input">
      {{common/inputs/font-color color=model.text_color}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Trigger color</div>
    <div class="panel-input__input">
      {{common/inputs/font-color color=model.trigger_color}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Trigger icon color</div>
    <div class="panel-input__input">
      {{common/inputs/font-color color=model.trigger_icon_color}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Placement</div>
    <div class="panel-input__input">
      {{#power-select options=placementOptions
                      selected=selectedPlacementOption
                      renderInPlace=true
                      searchEnabled=false
                      onchange=(action "selectPlacement") as |option|}}
        {{option.label}}
      {{/power-select}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Sound</div>
    <div class="panel-input__input">
      {{#power-select options=soundOptions
                      selected=selectedSoundOption
                      renderInPlace=true
                      searchEnabled=false
                      onchange=(action "selectSound") as |option|}}
        {{option.label}}
      {{/power-select}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Notification delay</div>
    <div class="panel-input__input">
      {{input value=model.notification_delay
              placeholder="Notification delay (seconds)"
              maxlength=5
              min=0
              max=10000
              step=1
              type="number"
      }}
    </div>
  </div>
{{/common/panels/collapse-panel}}
