<%= render 'preview_styles' %>
<% tabs = %w(content thank-you extras) %>

<div class="content-upgrade-form">

  <nav class="tabs-wrapper" style="margin-top: 1em;">
    <% tabs.each_with_index do |tab, index| %>
    <a data-tab="<%= tab %>" class="element-filter <%= 'active' if index == 0 %>" href="javascript://" onclick="$('.editor-container').hide(); var tab = $(this).data('tab'); $('#' + tab + '-editor-container').show(); $('.tabs-wrapper .active').removeClass('active'); $('.tabs-wrapper a[data-tab=&quot;' + tab + '&quot;]').addClass('active');"><%= tab.titleize %></a>
    <% end %>
  </nav>

  <% tabs.each_with_index do |tab, index| %>
    <div id="<%= tab %>-editor-container" class="editor-container" <% unless index.zero? %> style="display: none;"<% end %>>
      <%= render partial: "#{tab.underscore}_editor", locals: { form: form } %>
    </div>
  <% end %>

  <div class="buttons">
    <input type="submit" class="save button" value="Save">
    <%= link_to('Cancel', site_content_upgrades_path(@site.id), class: "list button") %>
  </div>
</div>
