<h2>Content Upgrades</h2>
<ul>

<li><%= link_to('+ Add New Content Upgrade', new_site_content_upgrade_path(@site.id)) %></li>
<li style="float: right;"><%= link_to('Style Editor', style_editor_site_content_upgrades_path(@site.id)) %></li>
</ul>
<table>
  <tr>
    <th><%= link_to_order 'Title', by: 'display_title' %></th>
    <th>WP Script Tag</th>
    <th><%= link_to_order 'Contact List', by: 'contact_list_name' %></th>
    <th><%= link_to_order 'Views', by: 'total_views' %></th>
    <th><%= link_to_order 'Conversions', by: 'total_conversions' %></th>
    <th>%</th>
    <th>PDF</th>
    <th><%= link_to_order 'Created At', by: 'created_at' %></th>
  </tr>
<% @content_upgrades.each do |content_upgrade| %>
<tr>
 <td>
    <%= link_to(content_upgrade.display_title, edit_site_content_upgrade_path(@site.id, content_upgrade.id)) %>
    <% if content_upgrade.content_upgrade_url.present? %>
      <br/><br/>
      <%= link_to('Open URL', content_upgrade.content_upgrade_url, target: '_blank') %>
    <% end %>
 </td>
 <td><input type="text" value="<%= content_upgrade.content_upgrade_script_tag %>"></td>
 <td><%= content_upgrade.contact_list.name %></td>
 <td><%= content_upgrade.total_views %></td>
 <td><%= content_upgrade.total_conversions %></td>
 <td><%= conversion_percent_text content_upgrade %></td>
 <td><a href="<%= content_upgrade.content_upgrade_download_link %>" target="_blank">View PDF</a></td>
 <td><%= l content_upgrade.created_at, format: :long %></td>
</tr>
<% end %>
</table>
