<%= render 'preview_styles' %>

<script type="text/javascript">

  $(function () {

    $("input").on("change",function(){
        load_styles();
    });

    $("select").on("change",function(){
        load_styles();
    });

    var availableFonts = <%= ContentUpgradeStyles::AVAILABLE_FONTS.to_json.html_safe %>;

    function load_styles(){
      var fontName = $("select[name*=offer_font_family_name]").val();
      var font = availableFonts[fontName];
      $('head').append("<link rel='stylesheet' media='all' href='https://fonts.googleapis.com/css?family=" + fontName + "'>");
      $(".hb-cu-offer").css("font-family", font);
      $(".hb-cu-offer").css("background-color", $("input[name*=offer_bg_color]").val());
      $(".hb-cu-offer").css("color", $("input[name*=offer_text_color]").val());
      $(".hb-cu-offer a").css("color",$("input[name*=offer_link_color]").val());
      $(".hb-cu-modal .cta").css("background-color",$("input[name*=modal_button_color]").val());
      $(".hb-cu-offer").css("border-color", $("input[name*=offer_border_color]").val());
      $(".hb-cu-offer").css("border-style", $("select[name*=offer_border_style]").val());
      $(".hb-cu-offer").css("border-width", $("select[name*=offer_border_width]").val());
      $(".hb-cu-offer").css("border-radius", $("select[name*=offer_border_radius]").val());
      $(".hb-cu-offer").css("font-size", $("select[name*=offer_font_size]").val());
      $(".hb-cu-offer").css("font-weight", $("select[name*=offer_font_weight]").val());
    }

    load_styles();

    $('.hb-cu-modal').show();
  });

</script>


<h2>Style Editor</h2>

<%= form_for @styles, url: update_styles_site_content_upgrades_path(@site.id), html: { method: 'post' } do |f| %>
  <div class="content-upgrade-form">

    <div class="columns">
      <div class="form-column">
        <div class="field-wrapper">
          <%= f.label :offer_bg_color, 'Offer Background Color' %>
          <%= f.text_field :offer_bg_color, type: 'color', class: 'style-input js-color-picker-field color-picker-field' %>
        </div>

        <div class="select-wrapper">
          <%= f.label :offer_font_family_name, 'Offer Font' %>
          <%= f.select :offer_font_family_name, ContentUpgradeStyles::AVAILABLE_FONTS.keys, class: 'style-input' %>
        </div>

        <div class="select-wrapper">
          <%= f.label :offer_font_weight, 'Offer Font Weight' %>
          <%= f.select :offer_font_weight, %w[bold normal], class: 'style-input' %>
        </div>

        <div class="select-wrapper">
          <%= f.label :offer_font_size, 'Offer Font Size' %>
          <%= f.select :offer_font_size, (10..42).to_a.map { |n| n.to_s+'px' }, class: 'style-input' %>
        </div>

        <div class="field-wrapper">
          <%= f.label :offer_text_color, 'Offer Text Color' %>
          <%= f.text_field :offer_text_color, type: 'color', class: 'style-input js-color-picker-field color-picker-field' %>
        </div>

        <div class="field-wrapper">
          <%= f.label :offer_link_color, 'Offer Link Color' %>
          <%= f.text_field :offer_link_color, type: 'color', class: 'style-input js-color-picker-field color-picker-field' %>
        </div>

        <div class="field-wrapper">
          <%= f.label :offer_border_color, 'Offer Border Color' %>
          <%= f.text_field :offer_border_color, type: 'color', class: 'style-input js-color-picker-field color-picker-field' %>
        </div>

        <div class="select-wrapper">
          <%= f.label :offer_border_width, 'Offer Border Thickness' %>
          <%= f.select :offer_border_width, (0..20).to_a.map { |n| n.to_s+'px' }, class: 'style-input' %>
        </div>

        <div class="select-wrapper">
          <%= f.label :offer_border_style, 'Offer Border Style' %>
          <%= f.select :offer_border_style, %w[solid dotted dashed double], class: 'style-input' %>
        </div>

        <div class="select-wrapper">
          <%= f.label :offer_border_radius, 'Offer Border Radius' %>
          <%= f.select :offer_border_radius, (0..20).to_a.map { |n| n.to_s+'px' }, class: 'style-input' %>
        </div>

        <div class="field-wrapper">
          <%= f.label :modal_button_color, 'Modal Button Color' %>
          <%= f.text_field :modal_button_color, type: 'color', class: 'style-input js-color-picker-field color-picker-field' %>
        </div>
      </div>

      <div class="preview-column" style="max-width:900px;">
        <%= render partial: 'preview' %>
      </div>

    </div>

    <div class="buttons">
      <%= f.submit 'Save' %>
      <%= link_to('List', site_content_upgrades_path(@site.id), class: "list") %>
    </div>

  </div>

<% end %>
