<script type="text/javascript">

  $(function () {

    $("input").on("change",function(){
      load_styles();
    });

    $("select").on("change",function(){
      load_styles();
    });

    function load_styles(){
      $("#offer").css("background-color",$("#offer-background-color").val());
      $("#offer").css("color",$("#offer-text-color").val());
      $("#offer a").css("color",$("#offer-link-color").val());
      $("#modal-button").css("background-color",$("#modal-button-color").val());
      $("#offer").css("border-color",$("#offer-border-color").val());
      $("#offer").css("border-style",$("#offer-border-style").val());
      $("#offer").css("border-width",$("#offer-border-width").val());
      $("#offer").css("border-radius",$("#offer-border-radius").val());
    }

    load_styles();
    $('.hb-cu-modal').show();

  });

</script>

<style type="text/css">
  .alert {
    text-align: center;
    padding: 2em;
    font-weight: 600;
    background: #ffffb6;
    font-size: 18px;
  }

  .alert a:hover{
    text-decoration: underline;
  }


</style>

<style>
.hb-cu-modal {
  left: 0
  top: -100%
  width: 100%
  height: 100%
  z-index: 900000
  position: fixed
  overflow-x: auto
  overflow-y: scroll
  font-family: "proxima-nova", sans-serif;
  padding: 20px;
  background-color: #404157;
  text-align: center;
  font-size: 13px;
  background-color: #fefefe;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #efefef;
  max-width: 670px;
  display: none;
}
.hb-cu-offer a {
  color: black;
  text-decoration: underline;
}



.hb-cu-modal .progress {
  padding: 5px;
  margin: auto;
  width: 95%;
}

.hb-cu-modal .caption {
  margin: auto;
  color: #000;
  border-bottom: solid 1px #ccc;
  font-size: 10pt;
  padding: 8px 0;
  width: 85%;
  max-width:520px;
}
.hb-cu-modal .headline {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
font-size: 18pt;
letter-spacing: 0em;
  color: #333;
  font-size: 18pt;
  font-weight: 700;
  padding: 30px;
  max-width: 500px;
  margin: auto;
}

.hb-cu-modal .form {
  padding: 0 30px;
}

.hb-cu-modal input {
  padding: 13px;
  max-width: 450px;
  margin: auto;
  margin-bottom: 15px;
  font-size: 1.2em;
  color: #201D1D;
  background: white;
  border: 1pt solid #C9D7DD;
}

.hb-cu-modal .cta {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1285dd;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  max-width: 450px;
  margin-top:5px;
}

.hb-cu-modal .spam-disclaimer {
  margin-top: 8px;
  color: #9c9c9d;
  font-size: 14px;
}
.content-upgrade-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 900000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#hb-cu-close-button {
    margin-top: -16px;
    margin-right: -16px;
    display: inline-block;
    font-size: 18pt;
    float: right;
    width: 20pt;
    height: 20pt;
    color: #ccc;
    padding-left: 1px;
    line-height: 18pt;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    border: 2pt solid white;
    -webkit-border-radius: 18pt;
    -moz-border-radius: 18pt;
    border-radius: 18pt;
}
</style>

<h2>Style Editor</h2>


<%= form_tag update_styles_site_content_upgrades_path(@site.id), method: "post" do %>
  <div class="content-upgrade-form">

    <div class="columns">
      <div class="form-column">


        <div class="field-wrapper">
          <label for="offer-background-color">Offer Background Color</label>
          <input name="offer_bg_color" id="offer-background-color" type="color" class="style-input js-color-picker-field color-picker-field"
                 value="<%= @styles['offer_bg_color'] || '#ffffb6' %>" >
        </div>

        <div class="field-wrapper">
          <label for="offer-text-color">Offer Text Color</label>
          <input  name="offer_text_color"  id="offer-text-color" type="color" class="js-color-picker-field color-picker-field"
                 value="<%= @styles['offer_text_color'] || '#666' %>" class="style-input">
        </div>

        <div class="field-wrapper">
          <label for="offer-link-color">Offer Link Color</label>
          <input  name="offer_link_color"  id="offer-link-color" type="color" class="style-input js-color-picker-field color-picker-field" value="<%= @styles['offer_link_color'] || '#1285dd' %>" >
        </div>

        <div class="field-wrapper">
          <label for="offer-border-color">Offer Border Color</label>
          <input name="offer_border_color" id="offer-border-color" type="color" class="style-input js-color-picker-field color-picker-field"
                 value="<%= @styles['offer_border_color'] || '#fff' %>"data-property="offerBorderColor" data-styles="offer">
        </div>

        <div class="select-wrapper">
          <label for="offer-border-width">Offer Border Thickness</label>
          <select  name="offer_border_width" id="offer-border-width" class="style-input">
            <% (0..20).each do |n| %>
            <option value="<%=n%>px" <% if @styles['offer_border_width'] && @styles['offer_border_width'] == n+'px' %>selected="selected"<% end %>><%=n%>px</option>
            <% end %>
          </select>
        </div>


        <div class="select-wrapper">
          <label for="offer-border-style">Offer Border Style</label>
          <select  name="offer_border_style" id="offer-border-style" class="style-input">
            <% ['solid', 'dotted', 'dashed', 'double'].each do |style| %>
            <option value="<%=style%>" <% if @styles['offer_border_style'] && @styles['offer_border_style'] == style %>selected="selected"<% end %>><%=style%></option>
            <% end %>
          </select>
        </div>

        <div class="select-wrapper">
          <label for="offer-border-radius">Offer Border Radius</label>
          <select name="offer_border_radius" id="offer-border-radius" class="style-input">
            <% (0..20).each do |n| %>
            <option value="<%=n%>px" <% if @styles['offer_border_radius'] && @styles['offer_border_radius'] == n+'px' %>selected="selected"<% end %>><%=n%>px</option>
            <% end %>
          </select>
        </div>


        <div class="field-wrapper">
          <label for="modal-button-color">Modal Button Color</label>
          <input name="modal_button_color" id="modal-button-color" type="color" class="style-input js-color-picker-field color-picker-field" value="<%= @styles['modal_button_color'] || '#1285dd' %>">
        </div>

      </div>

      <div class="preview-column" style="max-width:900px;">
        <p id="offer" class="alert">Do you produce content often? <a href="#">Download this how to guide</a> to create content that people will bookmark and remember.</p>

<div id="offer-preview" style="background-color:#eee; padding:50px;">
<div class="hb-cu-modal hb-cu-modal" >
  <div>
  <a id="hb-cu-close-button" href="">×</a>
</div>
  <div class="progress"><img src="https://s3.amazonaws.com/assets.hellobar.com/status_gray_fifty_percent.gif"></div>
  <div class="caption">Almost there! Please complete this form and click the button below to gain instant access.</div>
  <div class="headline">Enter your details to download this how to guide to create content that people will bookmark and remember!</div>
  <div class="form">
    <input class="name" placeholder="First Name">
    <input class="email" placeholder="Email">
    <div id="modal-button" class="cta">Download Now &gt;&gt;</div>
  </div>
  <div class="spam-disclaimer">We hate SPAM and promise to keep your email address safe</div>
  </div>
</div>




      </div>
    </div>

    <div class="buttons">
      <input type="submit" class="save" value="Save">
      <%= link_to('List', site_content_upgrades_path(@site.id), :class => "list") %>
    </div>

  </div>

<% end %>
