{{#common/panels/collapse-panel title="Button Styling"}}
  <div class="panel-input">
    <div class="panel-input__label">Color</div>
    <div class="panel-input__input">
     {{common/inputs/color-picker color=model.button_color}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Rounded corners</div>
    <div class="panel-input__input">
      {{common/inputs/number-input value=model.cta_border_radius max=45}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Border color</div>
    <div class="panel-input__input">
     {{common/inputs/color-picker color=model.cta_border_color}}
    </div>
  </div>

  <div class="panel-input">
    <div class="panel-input__label">Border width</div>
    <div class="panel-input__input">
      {{common/inputs/number-input value=model.cta_border_width max=10}}
    </div>
  </div>

  <!-- <div class="panel-input">
    <div class="panel-input__label">Height</div>
    <div class="panel-input__input">
      {{common/inputs/number-input name="cta_height" value=model.cta_height bar_size=model.size}}
    </div>
  </div> -->
{{/common/panels/collapse-panel}}
