<div class="section-header">
  <h3>Color autodetection</h3>

  <div class="description">Colors grabbed from the site</div>
</div>
<div class="section autodetection">
  {{preview/containers/theming/autodetection-button action="autodetectColors"}}
</div>

<div class="section-header">
  <h3>{{elementType}} Themes</h3>

  <div class="description">Predefined styles for the default bar</div>
</div>
<div class="section">
  {{#each genericThemes as |theme| }}
    <div data-theme-id="{{theme.id}}" class="theme-tile-wrapper">
      {{preview/containers/theming/theme-tile theme=theme elementType=elementType}}
    </div>
  {{/each}}
</div>

{{#if hasAnyTemplateThemes}}
  <div class="section-header">
    <h3>Templates</h3>

    <div class="description">Modals designed for growing your mailing list</div>
  </div>
  <div class="section">
    {{#each templateThemes as |theme| }}
      <div data-theme-id="{{theme.id}}" class="theme-tile-wrapper">
        {{preview/containers/theming/theme-tile theme=theme elementType=elementType}}
      </div>
    {{/each}}
  </div>
{{/if}}
