<% content_for :head do %>
  <%= stylesheet_link_tag 'welcome/index-variation' %>
<% end %>

  <header class="get-more text-center bg-orange">
    <div class="container">
      <div class="row margin-bottom-30">
        <div class="col-xs-12">
          <a href="#"><img src="<%= image_path('welcome/logo.png') %>" /></a>
          <h1 class="proximaBold color-white margin-top-30">Get more signups and sales from the traffic you already have</h1>

        </div>
      </div>
      <!-- ./row -->

      <div class="row margin-bottom-40">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <h4 class="color-white">Over 113,000 websites use Hello Bar’s suite of opt-in tools to collect emails, capture leads, and convert like crazy.</h4>
        </div>
      </div>
      <!-- ./row -->

      <div class="row">

        <div class="col-xs-12 col-sm-4">
          <div class="row margin-bottom-60">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">

              <img src="<%= image_path('welcome/icn-get-more-1.png') %>" class="img-responsive center-block" />
              <p class="color-white">Create opt ins in seconds without a designer</p>

            </div>

          </div>
          <!-- ./row -->
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="row margin-bottom-60">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">

              <img src="<%= image_path('welcome/icn-get-more-2.png') %>" class="img-responsive center-block" />
              <p class="color-white">Go live in minutes without a developer</p>

            </div>
          </div>
          <!-- ./row -->
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="row margin-bottom-60">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">

              <img src="<%= image_path('welcome/icn-get-more-3.png') %>" class="img-responsive center-block" />
              <p class="color-white">Use Hello Bar for free</p>

            </div>
          </div>
          <!-- ./row -->
        </div>

      </div>
      <!-- ./row -->

      <div class="row">
        <div class="col-xs-12">
          <h2 class="color-white margin-bottom-20">Enter your URL to get started for free</h2>
          <div class="web-url-bar-bottom">
            <form role="form">
              <div class="web-url-bar">
                <input type="text" placeholder="Your website URL..." class="login-with-google-input" />
                <input type="submit" value="Log in with" class="login-with-google" />
              </div>
              <p class="color-silver margin-top-20">Use Hello Bar for free. No credit card required.</p>
            </form>
          </div>
        </div>
      </div>

    </div>
  </header>
  <!-- ./get-more -->


  <section class="getting-traffic text-center bg-silver">
    <div class="container">
      <div class="row margin-bottom-50">
        <div class="col-xs-12">
          <h1 class="proximaBold">Getting traffic is hard and expensive.</h1>
        </div>
      </div>
      <!-- ./row -->

      <div class="row ">

        <div class="col-xs-12 col-sm-4">
          <div class="row margin-bottom-60">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <img src="<%= image_path('welcome/icn-getting-traffic-1.png') %>" class="img-responsive center-block" />
              <p>Content marketing is more competitive</p>
            </div>

          </div>
          <!-- ./row -->
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="row margin-bottom-60">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <img src="<%= image_path('welcome/icn-getting-traffic-2.png') %>" class="img-responsive center-block" />
              <p>Search engines are more intelligent</p>
            </div>
          </div>
          <!-- ./row -->
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="row margin-bottom-60">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <img src="<%= image_path('welcome/icn-getting-traffic-3.png') %>" class="img-responsive center-block" />
              <p>Pay Per Click ads are more expensive</p>
            </div>
          </div>
          <!-- ./row -->
        </div>

      </div>
      <!-- ./row -->

      <div class="row margin-bottom-40">
        <div class="col-xs-12">
          <h3>But you <span class="proximaBold">can’t afford to wait</span> for more traffic and your <span class="proximaBold">PPC budget is limited</span>.<br/> You need <span class="proximaBold">leads and sales</span> now.</h3>
        </div>
      </div>
      <!-- ./row -->

      <div class="row">
        <div class="col-xs-12">
          <div class="btn-bottom">
            <a href="#" class="btn btn-orange text-uppercase">The Solution</a>
          </div>

        </div>
      </div>
      <!-- ./row -->

    </div>
  </section>


  <section class="cant-be-missed text-center">
    <div class="container">
      <div class="row margin-bottom-20">
        <div class="col-xs-12">
          <h1 class="proximaBold margin-bottom-20">Smarter opt ins ranging from</h1>
          <h2 class="color-silver text-uppercase proximaBold">“barely there” to</h2>
        </div>
      </div>
      <!-- ./row -->

      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-uppercase color-orange proximaBlack fontLarge70">“can’t be missed”</h1>
        </div>
      </div>
      <!-- ./row -->

      <div class="row margin-bottom-60 margin-top-40">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <h4>You can <span class="proximaBold">double and even triple conversions</span> by matching each offer with the perfect opt in.</h4>
        </div>
      </div>
      <!-- ./row -->




      <div class="row ">
        <div class="col-xs-12 col-sm-4">
          <div class="row margin-bottom-60">
            <div class="cols-xs-12 col-sm-10 col-sm-offset-1">
              <img src="<%= image_path('welcome/icn-cant-be-missed-1.png') %>" class="img-responsive center-block" />
              <p class="margin-top-30">The Hello Bar sits patiently at the top or bottom of your pages, giving your visitors space to explore your content until they’re ready to convert.</p>
            </div>
          </div>
          <!-- ./row -->

        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="row margin-bottom-60">
            <div class="cols-xs-12 col-sm-10 col-sm-offset-1">
              <img src="<%= image_path('welcome/icn-cant-be-missed-2.png') %>" class="img-responsive center-block" />
              <p class="margin-top-30">The Slider slides into view the moment your visitor is ready to convert. Set time on page, scroll depth, or exit intent as the trigger.</p>

            </div>
          </div>
          <!-- ./row -->
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="row margin-bottom-60">
            <div class="cols-xs-12 col-sm-10 col-sm-offset-1">
              <img src="<%= image_path('welcome/icn-cant-be-missed-3.png') %>" class="img-responsive center-block" />
              <p class="margin-top-30">The Modal steals the spotlight, guaranteeing each visitor sees your offer by placing it in the center of their screen.</p>
            </div>
          </div>
          <!-- ./row -->
        </div>
      </div>
      <!-- ./row -->



      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="row margin-bottom-60">
                <div class="cols-xs-12 col-sm-10 col-sm-offset-1">
                  <img src="<%= image_path('welcome/icn-cant-be-missed-4.png') %>" class="img-responsive center-block" />
                  <p class="margin-top-20">The Page Takeover gets your landing page and key offers in front of each visitor without having to earn those hard-to-get clickthroughs.</p>
                </div>
              </div>
              <!-- ./row -->
            </div>


            <div class="col-xs-12 col-sm-6">
              <div class="row margin-bottom-60">
                <div class="cols-xs-12 col-sm-10 col-sm-offset-1">
                  <img src="<%= image_path('welcome/icn-cant-be-missed-5.png') %>" class="img-responsive center-block" />
                  <p class="margin-top-20">The Page Takeover gets your landing page and key offers in front of each visitor without having to earn those hard-to-get clickthroughs. </p>
                </div>
              </div>
              <!-- ./row -->
            </div>

          </div>
          <!-- ./row -->

        </div>

      </div>
      <!-- ./row -->

      <div class="row margin-top-60">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <h4>Plus, <span class="proximaBold">A/B test</span> your opt ins <span class="proximaBold">inside Hello Bar</span> to turn even more visitors into <span class="proximaBold">leads and sales</span>.</h4>
        </div>
      </div>
      <!-- ./row -->

      <div class="row margin-top-60 margin-bottom-60">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <a href="#" class="btn btn-orange btn-lg btn-radius">Create Free Opt Ins Now</a>
        </div>
      </div>
      <!-- ./row -->

      <div class="row text-center">
        <div class="col-xs-12">
          <div class="scroll-circle-bottom">
            <div class="scroll-circle"></div>
          </div>
        </div>
      </div>
      <!-- ./row -->




    </div>
  </section>

  <section class="bg-silver grow-your-email">
    <div class="container">

      <div class="row text-center margin-top-40">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

          <h4 class="color-silver text-uppercase proximaBold margin-bottom-20">USE CASES</h4>
          <h1 class="proximaBold margin-bottom-40">Use Hello Bar to get email subscribers, customers, and more</h1>
          <h1 class="color-orange proximaBlack text-uppercase">Grow your email list</h1>
        </div>
      </div>
      <!-- ./row -->




      <div class="row margin-top-40 text-center-xs">
        <div class="col-xs-12 col-sm-6">

          <div class="row margin-bottom-60">
            <div class="col-xs-12 col-sm-5">
              <img src="<%= image_path('welcome/icn-grow-email-list-1.png') %>" class="img-responsive center-block" />
            </div>
            <div class="col-xs-12 col-sm-7">
              <h3 class="proximaBold margin-bottom-20"><span class="color-orange">1K+ Extra</span> Subscribers...</h3>
              <p>Derek Halpern generated an extra 1,180 subscribers in 30 days via eBook and webinar opt ins.</p>
            </div>
          </div>
          <!-- ./row -->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row margin-bottom-60">
            <div class="col-xs-12 col-sm-5">
              <img src="<%= image_path('welcome/icn-grow-email-list-2.png') %>" class="img-responsive center-block" />
            </div>
            <div class="col-xs-12 col-sm-7">
              <h3 class="proximaBold margin-bottom-20"><span class="color-orange">9x More</span> Emails...</h3>
              <p>Brian Carter A/B tested Hello Bar and got 9x more email subscribers to download his free eBook.</p>
            </div>
          </div>
          <!-- ./row -->
        </div>
      </div>
      <!-- ./row -->

      <div class="row  text-center-xs">
        <div class="col-xs-12 col-sm-6">

          <div class="row margin-bottom-60">
            <div class="col-xs-12 col-sm-5">
              <img src="<%= image_path('welcome/icn-grow-email-list-3.png') %>" class="img-responsive center-block" />
            </div>
            <div class="col-xs-12 col-sm-7">
              <h3 class="proximaBold margin-bottom-20"><span class="color-orange">350+ people</span> per week...</h3>
              <p>Buffer got an extra 350 people per week to opt into their newsletter.</p>
            </div>
          </div>
          <!-- ./row -->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row margin-bottom-60">
            <div class="col-xs-12 col-sm-5">
              <img src="<%= image_path('welcome/icn-grow-email-list-4.png') %>" class="img-responsive center-block" />
            </div>
            <div class="col-xs-12 col-sm-7">
              <h3 class="proximaBold margin-bottom-20"><span class="color-orange">56% Increase</span> in sales...</h3>
              <p>Nutrition Secrets added Hello Bar which resulted in 56% more sales</p>
            </div>
          </div>
          <!-- ./row -->
        </div>
      </div>
      <!-- ./row -->

      <div class="row text-center">
        <div class="col-xs-12">
          <h1 class="color-orange proximaBlack text-uppercase"> Get more leads and sales</h1>
        </div>
      </div>
      <!-- ./row -->

      <div class="row margin-top-40 text-center-xs">
        <div class="col-xs-12 col-sm-6">

          <div class="row margin-bottom-60">
            <div class="col-xs-12 col-sm-5">
              <img src="<%= image_path('welcome/icn-get-more-leads-1.png') %>" class="img-responsive center-block" />
            </div>
            <div class="col-xs-12 col-sm-7">
              <h3 class="proximaBold margin-bottom-20"><span class="color-orange">11%+</span> Revenue...</h3>
              <p>Neil Patel said a simple Hello Bar sent more traffic to landing pages and accounted for 11% of Quick Sprout’s leads and revenue.</p>
            </div>
          </div>
          <!-- ./row -->
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row margin-bottom-60">
            <div class="col-xs-12 col-sm-5">
              <img src="<%= image_path('welcome/icn-get-more-leads-2.png') %>" class="img-responsive center-block" />
            </div>
            <div class="col-xs-12 col-sm-7">
              <h3 class="proximaBold margin-bottom-20"><span class="color-orange">20%+</span> of Total Revenue...</h3>
              <p>KimberlySnyder.net generated around 20% of their total revenue through Hello Bar.</p>
            </div>
          </div>
          <!-- ./row -->
        </div>
      </div>
      <!-- ./row -->


      <div class="row text-center">
        <div class="col-xs-12">
          <h1 class="color-orange proximaBlack text-uppercase">Plus...</h1>
        </div>
      </div>
      <!-- ./row -->

      <div class="row margin-top-40 text-center">
        <div class="col-xs-12 col-sm-4 margin-bottom-60">

          <img src="<%= image_path('welcome/icn-get-more-leads-plus-1.png') %>" class="img-responsive center-block" />
          <p>Boost follower count, shares, and likes.</p>
        </div>
        <div class="col-xs-12 col-sm-4 margin-bottom-60">

          <img src="<%= image_path('welcome/icn-get-more-leads-plus-2.png') %>" class="img-responsive center-block" />
          <p>Let mobile visitors call you with one click. </p>
        </div>
        <div class="col-xs-12 col-sm-4 margin-bottom-60">

          <img src="<%= image_path('welcome/icn-get-more-leads-plus-3.png') %>" class="img-responsive center-block" />
          <p>Announce new products and services, special offers, and more. </p>
        </div>
      </div>
      <!-- ./row -->

      <div class="row margin-bottom-60 text-center">
        <div class="col-xs-12">
          <a href="#" class="btn btn-orange btn-lg btn-radius">Get Started For FREE</a>
        </div>
      </div>

      <!-- ./row -->

      <div class="row text-center">
        <div class="col-xs-12">
          <div class="scroll-circle-bottom">
            <div class="scroll-circle"></div>
          </div>
        </div>
      </div>
      <!-- ./row -->



    </div>
  </section>


  <section class="text-center design-customize">
    <div class="container">

      <div class="row text-center margin-bottom-60">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

          <h4 class="color-silver text-uppercase proximaBold margin-bottom-20">USE CASES</h4>
          <h1 class="proximaBold">Design, customize, and go live – no designers or developers required</h1>

        </div>
      </div>
      <!-- ./row -->


      <div class="row text-center">
        <div class="col-xs-12 col-sm-6 col-md-3 margin-bottom-60">
          <div class="design-item">
            <img src="<%= image_path('welcome/icn-design-1.png') %>" class="img-responsive center-block " />
            <p class="margin-top-20 ">Pick a goal such as more subscribers or link clicks. </p>
          </div>


        </div>
        <div class="col-xs-12 col-sm-6 col-md-3  margin-bottom-60">
          <div class="design-item design-item-2">
            <img src="<%= image_path('welcome/icn-design-2.png') %>" class="img-responsive center-block" />
            <p class="margin-top-20">Choose an opt-in style (Bar, Slider, Modal, or Page Takeover)</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3  margin-bottom-60">
          <div class="design-item">
            <img src="<%= image_path('welcome/icn-design-3.png') %>" class="img-responsive center-block" />
            <p class="margin-top-20">Easily customize the design, message, and behavior of your opt in.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3  margin-bottom-60">
          <div class="design-item-last">
            <img src="<%= image_path('welcome/icn-design-4.png') %>" class="img-responsive center-block" />
            <p class="margin-top-20">Go live in seconds, no coding or IT help required. </p>
          </div>
        </div>
      </div>
      <!-- ./row -->


      <div class="row margin-bottom-40 text-center">
        <div class="col-xs-12">
          <a href="#" class="btn btn-orange btn-lg btn-radius margin-top-30">Get Started For FREE</a>
        </div>
      </div>
      <!-- ./row -->


      <div class="row text-center">
        <div class="col-xs-12">
          <div class="scroll-circle-bottom">
            <div class="scroll-circle"></div>
          </div>
        </div>
      </div>
      <!-- ./row -->



    </div>
  </section>



  <section class="bg-silver hello-bar">
    <div class="container">

      <div class="row text-center margin-top-40">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h1 class="proximaBold">Hello Bar integrates with 14 of the most popular email marketing tools</h1>
        </div>
      </div>
      <!-- ./row -->

      <div class="row">
        <div class="col-xs-12">
          <div class="hello-social cl">
            <div class="logo-white"></div>
            <a href="#" class="social social1"></a>
            <a href="#" class="social social2"></a>
            <a href="#" class="social social3"></a>
            <a href="#" class="social social4"></a>
            <a href="#" class="social social5"></a>
            <a href="#" class="social social6"></a>
            <a href="#" class="social social7"></a>
            <a href="#" class="social social8"></a>
            <a href="#" class="social social9"></a>
            <a href="#" class="social social10"></a>
            <a href="#" class="social social11"></a>
          </div>

        </div>
      </div>
      <!-- ./row -->

      <div class="row text-center">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <h3>New subscribers are <span class="proximaBold">imported into the right email listsautomaticall</span>y – no spreadsheets required.</h3>
        </div>
      </div>
      <!-- ./row -->

      <div class="row text-center margin-top-60">
        <div class="col-xs-12">
          <div class="scroll-circle"></div>
        </div>
      </div>
      <!-- ./row -->



      <div class="row text-center">
        <div class="col-xs-12">
          <div class="btn-bottom">
            <a href="#" class="btn btn-white text-uppercase">Get Started For FREE</a>
          </div>

        </div>
      </div>
      <!-- ./row -->

    </div>
  </section>


  <section class="bg-orange text-center join-websites">
    <div class="container">

      <div class="row margin-bottom-40">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h1 class="proximaBold color-white fontLarge40">Join 113,000+ websites and get your first opt in live in minutes</h1>
        </div>
      </div>
      <!-- ./row -->

      <div class="row">
        <div class="col-xs-12">
          <div class="web-url-bar-bottom">
            <form role="form">
              <div class="web-url-bar">
                <input type="text" placeholder="Your website URL..." class="login-with-google-input" />
                <input type="submit" value="Log in with" class="login-with-google" />
              </div>
              <p class="color-silver margin-top-20">Use Hello Bar for free. No credit card required.</p>
            </form>
          </div>

        </div>
      </div>
      <!-- ./row -->

    </div>
  </section>


  <footer class="footer text-center bg-silver">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-inline list-footer">

            <li><a href="#">Sign In</a></li>
            <li><a href="#">Use Cases</a></li>
            <li><a href="#">Terms of Use In</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Help</a></li>
            <li class="copyright">&copy; Hello Bar 2017</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ./row -->

  </footer>
