<div class="substep emails">

  {{#if currentThemeIsGeneric}}
    {{goals/email/fields/field-list model=model}}
  {{/if}}

  <label>Text field border color</label>
  {{design/colors/selection/color-select color=model.text_field_border_color siteColors=siteColors recentColors=recentColors focusedColor=focusedColor eyeDropperSelected='eyeDropperSelected'}}

  <label>Text field border width</label>
  <div class="slider-wrapper">
    {{common/sliders/range-slider min=0 max=10 start=textFieldBorderWidth update="setTextFieldBorderWidth" leftLabel="0" rightLabel="10"}}
  </div>

  <label>Text field text color</label>
  {{design/colors/selection/color-select color=model.text_field_text_color siteColors=siteColors recentColors=recentColors focusedColor=focusedColor eyeDropperSelected='eyeDropperSelected'}}

  <label>Text field background color</label>
  {{design/colors/selection/color-select color=model.text_field_background_color siteColors=siteColors recentColors=recentColors focusedColor=focusedColor eyeDropperSelected='eyeDropperSelected'}}

  <label>Text field opacity</label>
  <div class="slider-wrapper">
    {{common/sliders/range-slider min=0 max=100 start=textFieldOpacity update="setTextFieldOpacity" leftLabel="0%" rightLabel="100%"}}
  </div>

  <label>Text field rounded corners</label>
  <div class="slider-wrapper">
    {{common/sliders/range-slider min=0 max=20 start=textFieldBorderRadius update="setTextFieldBorderRadius" leftLabel="0" rightLabel="20"}}
  </div>

  <label>Choose your contact list and integration</label>
  {{goals/email/contacts/contact-list-select
    selectedOption=selectedContactList
    options=model.site.contact_lists
    setList="setContactList"
    editList="openEmailListPopup"
  }}

</div>
