<div class="substep modal">
  <label
      title="Your modal will contain Hello Bar branding. By turning it off you will receive more clicks and conversions.">
    {{common/checkboxes/toggle-switch switch=model.show_branding}}
    Hello Bar branding
  </label>

  <label>
    {{common/checkboxes/toggle-switch switch=model.animated}}
    Animations
  </label>

  <label>Placement</label>

  <div class="select-wrapper">
    {{#power-select options=placementOptions
    selected=selectedPlacementOption
    renderInPlace=true
    searchEnabled=false
    onchange=(action "selectPlacement") as |option|}}
      {{option.label}}
    {{/power-select}}
  </div>

  <label>When does it display?
    <small><a {{action "popDelayTootlipModal"}} class="tooltip-label">(What's this?)</a></small>
  </label>

  <div class="select-wrapper">
    {{#power-select options=triggerOptions
    selected=selectedTriggerOption
    renderInPlace=true
    searchEnabled=false
    onchange=(action "selectTrigger") as |option|}}
      {{option.label}}
    {{/power-select}}
  </div>

</div>