<div class="text-pane">
  <label class="questions">
    {{common/checkboxes/toggle-switch switch=model.use_question}}
    Boost your conversions by asking a leading question first
    {{#common/hints/popup-hint-trigger}}
      <p>When asking a leading question, <br>
      you are not able to style this leading question in the inline editor. <br>
      There is also no way to add an image to the leading question.</p>
    {{/common/hints/popup-hint-trigger}}
  </label>

  {{#if showQuestionFields}}
    {{#ivy-tabs selection=questionTabSelection as |tabs|}}
      {{#tabs.tablist as |tablist|}}
        {{#tablist.tab "TabQuestion" on-select=(action 'showQuestion')}}Question{{/tablist.tab}}
        {{#tablist.tab "TabAnswer1" on-select=(action 'showAnswer1')}}Answer 1{{/tablist.tab}}
        {{#tablist.tab "TabAnswer2" on-select=(action 'showAnswer2')}}Answer 2{{/tablist.tab}}
      {{/tabs.tablist}}

      {{#tabs.tabpanel "TabQuestion"}}
        <div id="question" class="tab-content">
          <label>What's your question?</label>
          {{input value=model.question placeholder=model.question_placeholder}}

          <label>First Answer</label>
          {{input value=model.answer1 placeholder=model.answer1_placeholder}}

          <label>Second Answer</label>
          {{input value=model.answer2 placeholder=model.answer2_placeholder}}
        </div>
      {{/tabs.tabpanel}}

      {{#tabs.tabpanel "TabAnswer1"}}
        <div id="response1" class="tab-content">
          <label>First Answer Headline</label>
          {{input value=model.answer1response placeholder=model.answer1response_placeholder}}

          {{#unless isABar}}
            <label>First Answer Caption</label>
            {{input value=model.answer1caption placeholder="(optional)" maxlength=255}}
          {{/unless}}

          {{#unless hideLinkText}}
            <label>First Answer Button Text</label>
            {{input value=model.answer1link_text placeholder=model.answer1link_text_placeholder}}
          {{/unless}}
        </div>
      {{/tabs.tabpanel}}

      {{#tabs.tabpanel "TabAnswer2"}}
        <div id="response2" class="tab-content">
          <label>Second Answer Headline</label>
          {{input value=model.answer2response placeholder=model.answer2response_placeholder}}

          {{#unless isABar}}
            <label>Second Answer Caption</label>
            {{input value=model.answer2caption placeholder="(optional)" maxlength=255}}
          {{/unless}}

          {{#unless hideLinkText}}
            <label>Second Answer Button Text</label>
            {{input value=model.answer2link_text placeholder=model.answer2link_text_placeholder}}
          {{/unless}}
        </div>
      {{/tabs.tabpanel}}
    {{/ivy-tabs}}

    <hr/>
  {{/if}}

</div>
