{{#application-layout viewMode=viewMode isCallGoal=isCallGoal}}

  {{navigation/side-navigation viewMode=viewMode closeEditor='closeEditor'}}

  <div class="viewport-wrapper">
    <div class="step-wrapper">
      {{outlet}}

      {{navigation/step-navigation
      action='saveSiteElement'
      saveSubmitted=saveSubmitted}}
    </div>

    {{preview/preview-area model=model viewMode=viewMode}}
  </div>

  {{outlet 'interstitial'}}

{{/application-layout}}

