{{#application-layout applicationController=this isMobile=isMobile isFullscreen=isFullscreen isCallType=isCallType}}
  <nav class="links-wrapper">
    <ul class="step-links">
      <li class="step-settings">
        {{#link-to 'settings'}}
          <i class="hellobar-icon hellobar-icon-trophy"></i>

          <div class="caption">Goals</div>
        {{/link-to}}
        <div class="hover-tip">Goals</div>
      </li>
      <li class="step-style">
        {{#link-to 'style'}}
          <i class="icon-style"></i>

          <div class="caption">Style</div>
        {{/link-to}}
        <div class="hover-tip">Style</div>
      </li>
      <li class="step-content">
        {{!-- TODO we should rename route and controllers/components to 'Content' later --}}
        {{#link-to 'design'}}
          <i class="icon-content"></i>

          <div class="caption">Content</div>
        {{/link-to}}
        <div class="hover-tip">Design &amp; Content</div>
      </li>
      <li class="step-targeting">
        {{#link-to 'targeting'}}
          <i class="icon-views"></i>

          <div class="caption">Targeting</div>
        {{/link-to}}
        <div class="hover-tip">Targeting</div>
      </li>
    </ul>

    <ul class="action-links">
      <li class="toggle-fullscreen">
        <a {{action 'toggleFullscreen'}}>
          <i class="icon-back2"></i>
          <i class="icon-back2"></i>
        </a>

        <div class="caption">
          {{#if isFullscreen}}
            Show
          {{else}}
            Hide
          {{/if}}
        </div>
      </li>
      {{#if isTopBarStyle}}
        <li class="toggle-mobile">
          <a {{action 'toggleMobile'}}>
            <i class="icon-desktop"></i>
            <i class="icon-mobile"></i>
          </a>

          <div class="caption">
            {{#if isMobile}}
              Desktop
            {{else}}
              Mobile
            {{/if}}
          </div>
        </li>
      {{/if}}
      <li class="close-editor">
        <a {{action "closeEditor"}}>
          <i class="icon-close"></i>

          <div class="caption">Close</div>
        </a>
      </li>
    </ul>
  </nav>

  <div class="viewport-wrapper">
    <div class="step-wrapper">
      {{outlet}}

      {{navigation/step-navigation action='saveSiteElement' current=currentStep
      prev=prevRoute next=nextRoute saveSubmitted=saveSubmitted
      doneButtonText=doneButtonText cannotContinue=cannotContinue}}
    </div>

    {{render 'preview' model}}
  </div>

  {{outlet 'interstitial'}}

{{/application-layout}}