{{#application-layout viewMode=viewMode isCallGoal=isCallGoal}}

  {{navigation/step-navigation routes=routes}}
  {{navigation/side-navigation routes=routes}}

  <div class="viewport-wrapper">
    <div class="step-wrapper">
      {{outlet}}
    </div>

    {{preview/preview-area model=model viewMode=viewMode}}
  </div>

  {{outlet 'interstitial'}}

{{/application-layout}}

