{{#application-layout isMobile=isMobile isFullscreen=isFullscreen isCallGoal=isCallGoal}}

  {{navigation/side-navigation isMobile=isMobile isFullscreen=isFullscreen goal=goal style=style}}

  <div class="viewport-wrapper">
    <div class="step-wrapper">
      {{outlet}}

      {{navigation/step-navigation
      action='saveSiteElement'
      current=currentStep
      prev=prevRoute
      next=nextRoute
      saveSubmitted=saveSubmitted
      cannotContinue=cannotContinue}}
    </div>

    {{preview/preview-area model=model isMobile=isMobile}}
  </div>

  {{outlet 'interstitial'}}

{{/application-layout}}

