{{#application-layout isMobile=isMobile isFullscreen=isFullscreen isCallType=isCallType}}

  {{navigation/side-navigation}}

  <div class="viewport-wrapper">
    <div class="step-wrapper">
      {{outlet}}

      {{navigation/step-navigation
      action='saveSiteElement'
      current=currentStep
      prev=prevRoute
      next=nextRoute
      saveSubmitted=saveSubmitted
      doneButtonText=doneButtonText
      cannotContinue=cannotContinue
      validationMessages=validationMessages}}
    </div>

    {{preview/preview-area model=model isMobile=isMobile}}
  </div>

  {{outlet 'interstitial'}}

{{/application-layout}}

