<h5 class="step-title">Design &amp; Content</h5>

{{#if isCustom}}
These are some instructions about doing your custom templating.
{{else}}

  {{#if shouldShowThankYouEditor}}
    {{thank-you/thank-you-editor model=model}}
  {{/if}}

  {{#if currentThemeIsGeneric}}

    {{#ivy-tabs selection=selection as |tabs|}}
      {{#tabs.tablist as |tablist|}}
        {{#tablist.tab "TabColors" on-select=(action (mut selection))}}Colors{{/tablist.tab}}
        {{#tablist.tab "TabImage" on-select=(action (mut selection))}}Image{{/tablist.tab}}

        {{#if elementTypeIsNotAlert}}
          {{#tablist.tab "TabText" on-select=(action (mut selection))}}Text{{/tablist.tab}}
        {{/if}}
      {{/tabs.tablist}}

      {{#tabs.tabpanel "TabColors"}}
        {{partial "partials/colors-pane"}}
      {{/tabs.tabpanel}}

      {{#tabs.tabpanel "TabImage"}}
        {{partial "partials/image-pane"}}
      {{/tabs.tabpanel}}

      {{#if elementTypeIsNotAlert}}
        {{#tabs.tabpanel "TabText"}}
          {{partial "partials/text-pane"}}
        {{/tabs.tabpanel}}
      {{/if}}
    {{/ivy-tabs}}

  {{/if}}

  {{#if currentThemeIsTemplate}}
    {{no-content-parameters}}
  {{/if}}

{{/if}}
