{{announcement-container}}

{{right-pane}}

<div id="hellobar-preview-container" {{bind-attr class="isMobile:hellobar-preview-container-mobile barPosition barSize isPushed elementType"}}>

  <div class="preview-wrapper">

    <div class="preview-message">
      <i class="icon-settings"></i>
      Site preview loading...
    </div>
  </div>

  <div class="preview-image" {{bind-attr style=previewStyleString}}></div>

  <img class="preview-image-for-colorpicker" {{bind-attr src=previewImageURL}} />
</div>
