<div class="style ember-view">
  <h5 class="step-title">Style</h5>

  <div class="{{elementTypeListCssClasses}}">
    {{#link-to 'style.bar' class='step-link-block'}}
      <span {{action 'closeDropdown'}}>
        <i class="icon-bar"></i>
        <h6>Bar</h6>
        <p>Show a bar at the top of your site</p>
      </span>
    {{/link-to}}

    {{#if shouldShowBarThemeInfo}}
      {{theming/theme-info theme=currentTheme onChangeTheme=(action "changeTheme")}}
    {{/if}}

    {{#if notOnlyTopBarStyleIsAvailable}}

      {{#link-to 'style.modal' class='step-link-block'}}
        <span {{action 'closeDropdown'}}>
          <i class="icon-modal"></i>
          <h6>Modal</h6>

          <p>Pop up a window in the middle of the screen</p>
        </span>
      {{/link-to}}

      {{#if shouldShowModalThemeInfo}}
        {{theming/theme-info theme=currentTheme onChangeTheme=(action "changeTheme")}}
      {{/if}}

      {{#link-to 'style.slider' class='step-link-block'}}
        <span {{action 'closeDropdown'}}>
          <i class="icon-modal"></i>
          <h6>Slider</h6>

          <p>Show a small window on the bottom of your site</p>
        </span>
      {{/link-to}}

      {{#if shouldShowSliderThemeInfo}}
        {{theming/theme-info theme=currentTheme onChangeTheme=(action "changeTheme")}}
      {{/if}}

      {{#link-to 'style.takeover' class='step-link-block'}}
        <span {{action 'closeDropdown'}}>
          <i class="icon-modal"></i>
          <h6>Page Takeover</h6>

          <p>Show a window that totally covers your webpage content</p>
        </span>
      {{/link-to}}

      {{#if shouldShowTakeoverThemeInfo}}
        {{theming/theme-info theme=currentTheme onChangeTheme=(action "changeTheme")}}
      {{/if}}

    {{/if}}

    {{#if canUseCustomHtml}}
    {{#link-to 'style.custom' class='step-link-block'}}
      <span {{action 'closeDropdown'}}>
        <i class="icon-modal"></i>
        <h6>Custom HTML</h6>
        <p>Custom HTML</p>
      </span>
    {{/link-to}}
    {{/if}}

    {{#if canUseAlertElementType}}
      {{#link-to 'style.alert' class='step-link-block'}}
        <span {{action 'closeDropdown'}}>
          <i class="icon-modal"></i>
          <h6>Alert</h6>
          <p>Custom bell with slider window</p>
        </span>
      {{/link-to}}
      {{#if shouldShowAlertThemeInfo}}
        {{theming/theme-info theme=currentTheme onChangeTheme=(action "changeTheme")}}
      {{/if}}
    {{/if}}


    {{#if notOnlyTopBarStyleIsAvailable}}
      <a {{action 'changeStyle'}} class="change-selection">
        <i class="icon-back1"></i>
        Change Type
      </a>
    {{/if}}

  </div>

  {{outlet}}
</div>
