Hi,


  You are approaching the monthly view limit of <%= @limit %> on your Hello Bar site: <%= @site.url %>.



  You're currently at <%= @number_of_views %> and if you surpass your monthly limit, your popups and bars will stop displaying until the 1st of next month. Login now at <a href="<%= @login_url %>"> <%= @login_url %></a> to upgrade to a larger plan.


Thanks for using Hello Bar!
