{{#if hasContactList}}

  <div class="contact-list-block" {{action 'toggleOpen'}}>
    <i class="hellobar-icon-list"></i>
    <div>
      <div class="contact-list-title">{{selectedList.name}}</div>
      <em>{{selectedList.provider}}</em>
    </div>
  </div>

  <div class="contact-list-dropdown" {{action 'toggleOpen'}}>
    {{#each options as |option| }}
      {{#if option}}
        <div class="contact-list-option" {{action 'listSelected' option.id bubbles=false}}>
          <div>
            <div class="contact-list-title">{{option.name}}</div>
            <em>{{option.provider}}</em>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>

  <small>
    <a {{action 'editList'}}>Edit list</a>
    <a {{action 'newList'}}>Create new Contact List...</a>
  </small>

{{else}}

  <div class="contact-list-block" {{action 'newList'}}>
    <i>+</i>
    <div>Create a list and integration</div>
  </div>

{{/if}}
