<img class="side-bar-logo" src="{{ image_path "icons/h-logo.svg" }}">

<ul class="step-links">
  {{#link-to 'goals' tagName="li" class="step-settings"}}
    <img src="{{ image_path "icons/goal.svg" }}">
    <div class="caption">Goals</div>
  {{/link-to}}

  {{#link-to 'styles' tagName="li" class="step-style"}}
    <img src="{{ image_path "icons/type.svg" }}">
    <div class="caption">Type</div>
  {{/link-to}}

  {{#link-to 'design' tagName="li" class="step-content"}}
    <img src="{{ image_path "icons/design.svg" }}">
    <div class="caption">Design</div>
  {{/link-to}}

  {{#link-to 'targeting' tagName="li" class="step-targeting"}}
    <img src="{{ image_path "icons/targeting.svg" }}">
    <div class="caption">Targeting</div>
  {{/link-to}}
</ul>
