<img class="side-bar-logo" src="{{ image_path "icons/h-logo.svg" }}">

<ul class="step-links">
  {{#link-to 'goals' tagName="li"}}
    <div class="step-links__item {{if isGoalsDone "done"}}">
      <div class="progress"></div>
      {{icons/icon-goal}}
      <div class="caption">Goal</div>
    </div>
  {{/link-to}}

  {{#link-to 'styles' tagName="li"}}
    <div class="step-links__item {{if isStylesDone "done"}}">
      <div class="progress"></div>
      {{icons/icon-type}}
      <div class="caption">Type</div>
    </div>
  {{/link-to}}

  {{#link-to 'design' tagName="li"}}
    <div class="step-links__item {{if isDesignDone "done"}}">
      <div class="progress"></div>
      {{icons/icon-design}}
      <div class="caption">Design</div>
    </div>
  {{/link-to}}

  {{#link-to 'targeting' tagName="li"}}
    <div class="step-links__item {{if isTargetingDone "done"}}">
      <div class="progress"></div>
      {{icons/icon-targeting}}
      <div class="caption">Targeting</div>
    </div>
  {{/link-to}}
</ul>
