<nav>
  {{#link-to prev class="button" classNameBindings="prev::disabled"}}
    {{icons/angel-left}}
    Prev
  {{/link-to}}

  {{#each routeLinks as |dot| }}
    {{link-to '' dot.route classNameBindings="dot.past:past :nav-dot"}}
  {{/each}}

  {{#link-to next class="button" classNameBindings="next::disabled"}}
    Next
    {{icons/angel-right}}
  {{/link-to}}
</nav>

<div class="pin" {{action "toggleFullscreen"}}>
  {{#if isFullscreen}}
    {{icons/angel-left}}
  {{ else }}
    {{icons/angel-right}}
  {{/if}}
</div>
