<nav>
  {{#if prev}}
    {{link-to 'Prev' prev class="button"}}
  {{else}}
    <a disabled class="button">Prev</a>
  {{/if}}

  {{#each routeLinks as |obj| }}
    {{link-to '' obj.route classNameBindings="obj.past:past :nav-dot"}}
  {{/each}}

  {{#if next}}
    {{link-to 'Next' next class="button"}}
  {{else}}
    <a disabled class="button">Next</a>
  {{/if}}
</nav>

{{#if saveSiteElementService.saving}}
  Saving...
{{else if modelLogic.isTypeSelected}}
  <button class="button save-editor" disabled={{saving}} {{action "saveAndPublish"}}>
    Save & Publish
  </button>

  {{#if modelLogic.isNotPublished}}
    <a class="button button--link" disabled={{saving}} {{action "saveSiteElement"}}>
      Save
    </a>
  {{/if}}
{{/if}}

{{common/validation/validation-summary validationMessages=validationMessages header="Cannot save the bar:"}}

