<nav>
  {{#if prev}}
    {{link-to 'Prev' prev class="button"}}
  {{else}}
    <a disabled class="button">Prev</a>
  {{/if}}

  {{#each routeLinks as |obj| }}
    {{link-to '' obj.route classNameBindings="obj.past:past :nav-dot"}}
  {{/each}}

  {{#if next}}
    {{link-to 'Next' next class="button"}}
  {{else}}
    <a disabled class="button">Next</a>
  {{/if}}
</nav>

<button class="button save-editor" disabled={{saveSubmitted}} {{action "saveSiteElement"}}>
  {{#if saveSubmitted}}
    Saving...
  {{else}}
    {{doneButtonText}}
  {{/if}}
</button>

{{validation/validation-summary validationMessages=validationMessages header="Cannot save the bar:"}}

