<nav>
  {{#link-to prev class="button" classNameBindings="prev::disabled"}}
    <div class="icon-angel-left">{{ svg_content "icons/arrow-left.svg" }}</div>
    Prev
  {{/link-to}}

  {{#each routeLinks as |dot| }}
    {{link-to '' dot.route classNameBindings="dot.past:past :nav-dot"}}
  {{/each}}

  {{#link-to next class="button" classNameBindings="next::disabled"}}
    Next
    <div class="icon-angel-right">{{ svg_content "icons/arrow-right.svg" }}</div>
  {{/link-to}}
</nav>

<div class="pin" {{action "toggleFullscreen"}}>
  {{#if isFullscreen}}
    <div class="icon-angel-right">{{ svg_content "icons/arrow-right.svg" }}</div>
  {{ else }}
    <div class="icon-angel-left">{{ svg_content "icons/arrow-left.svg" }}</div>
  {{/if}}
</div>
