<ul class="view-switcher">
  {{#intro-js/step step=2 intro="<h5 class='text-color'>Preview</h5><p class='text-color'><p class='text-color'>Use this to preview what your site element will look like on desktop, tablet and mobile.</p><p class='text-color'>Remember: over 55% of internet traffic is now done on mobile devices!</p>"}}
    <li class="view-switcher__button {{if isDesktop "active" ""}}" {{action 'setView' 'VIEW_DESKTOP'}}>
      {{fa-icon 'desktop' size='lg'}}
    </li>
    <li class="view-switcher__button {{if isTablet "active" ""}}" {{action 'setView' 'VIEW_TABLET'}}>
      {{fa-icon 'tablet-alt' size='lg'}}
    </li>
    <li class="view-switcher__button {{if isMobile "active" ""}}" {{action 'setView' 'VIEW_MOBILE'}}>
      {{fa-icon 'mobile-alt' size='lg'}}
    </li>
  {{/intro-js/step}}
</ul>

<div class="action-buttons">
  {{#if saveSiteElementService.saving}}
    <span class="action-buttons__saving">Saving...</span>
  {{else}}
    <a class="action-buttons__button" {{action 'cancel'}}>{{if modelLogic.model.isSaved "Close" "Cancel"}}</a>
    {{#intro-js/step step=3 intro="<h5 class='text-color'>Save</h5><p class='text-color'>Click Save & Publish once your site element is ready to go live on your site. Not ready to publish? Click Save so that you can come back and finish your design later.</p><p class='text-color'>Click Save to keep your current styling and settings until you're ready to complete it.</p>"}}
      {{#if modelLogic.isNotPublished}}
        <a class="action-buttons__button {{if modelLogic.isTypeSelected "" "disabled"}}" {{action 'save'}}>Save</a>
      {{/if}}
      <a class="action-buttons__button action-buttons__button--primary {{if modelLogic.isTypeSelected "" "disabled"}}" {{action 'saveAndPublish'}}>Save & Publish</a>
    {{/intro-js/step}}
  {{/if}}
</div>

{{common/validation/validation-summary validationMessages=validationMessages header="Cannot save the bar:"}}
