{{#if next}}
  {{#if cannotContinue}}
    <a disabled class="button">Continue &#8594;</a>
  {{else}}
    {{link-to 'Continue &#8594;' next class="button"}}
  {{/if}}
{{else}}
  <button class="button save-editor" {{bind-attr disabled=saveSubmitted}} {{action "saveSiteElement"}}>
    {{#if saveSubmitted}}
      Saving...
    {{else}}
      {{doneButtonText}}
    {{/if}}
  </button>
{{/if}}
