{{#if next}}
  {{link-to 'Continue &#8594;' next class="button"}}
{{else}}
  <button class="button save-editor" {{bind-attr disabled=saveSubmitted}} {{action "saveSiteElement"}}>
    {{#if saveSubmitted}}
      Saving...
    {{else}}
      {{doneButtonText}}
    {{/if}}
  </button>
{{/if}}