<nav>
  {{#if prev}}
    {{link-to 'Prev' prev class="button"}}
  {{else}}
    <a disabled class="button">Prev</a>
  {{/if}}

  {{#each obj in routeLinks}}
    {{link-to '' obj.route classNameBindings="obj.past:past :nav-dot"}}
  {{/each}}

  {{#if next}}
    {{link-to 'Next' next class="button"}}
  {{else}}
    <a disabled class="button">Next</a>
  {{/if}}
</nav>

{{#if saveSubmitted}}
  <a disabled class="button">
    Saving... <i class="icon-settings"></i>
  </a>
{{else}}
  <a class="button save-editor" {{action "saveSiteElement"}}>
    {{doneButtonText}}
  </a>
{{/if}}