{{#if next}}
  {{link-to 'Continue &#8594;' next class="button"}}
{{else}}
  {{#if saveSubmitted}}
    <a disabled class="button">
      Saving... <i class="icon-settings"></i>
    </a>
  {{else}}
    <a class="button save-editor" {{action "saveSiteElement"}}>
      {{doneButtonText}}
    </a>
  {{/if}}
{{/if}}