<div class="email-campaigns">

<h1>Email Campaigns</h1>

<table>
<thead>
<tr>
  <th>ID</th>
  <th>Name</th>
  <th>Subject</th>
  <th>Contact List</th>
  <th>Status</th>
  <th>Actions</th>
</tr>
</thead>

<tbody>
<% @campaigns.each do |campaign| %>
<tr>
  <td><%= campaign.id %></td>
  <td><%= link_to campaign.name, site_campaign_path(@site, campaign) %></td>
  <td><%= campaign.subject %></td>
  <td><%= link_to campaign.contact_list.name, site_contact_list_path(@site, campaign.contact_list) %></td>
  <td><span class="status <%= campaign.status %>"><%= campaign.status %></span></td>
  <td>
    <%= link_to 'Send', send_out_site_campaign_path(@site, campaign),
          class: 'button', method: :post, data: {
            confirm: 'Are you sure you want to send out this email campaign?',
            disable_with: "Sending..."
          } %>
    <%= link_to 'Edit', edit_site_campaign_path(@site, campaign), class: 'button' %>
  </td>
</tr>
<% end %>
</tbody>

</table>

<p><%= link_to 'New Email Campaign', new_site_campaign_path(@site), class: 'button' %></p>

</div>
