<div class="email-campaign">

  <h1>Campaign</h1>

  <div class="details">
    <p><strong>ID:</strong> <%= @campaign.id %></p>
    <p><strong>Name:</strong> <%= @campaign.name %></p>
    <p>
      <strong>Contact List:</strong>
      <%= link_to @campaign.contact_list.name, site_contact_list_path(@site, @campaign.contact_list) %>
    </p>
    <p><strong>Subject:</strong> <%= @campaign.subject %></p>
    <p><strong>From name:</strong> <%= @campaign.from_name %></p>
    <p><strong>From email:</strong> <%= @campaign.from_email %></p>
    <p>
      <strong>Status:</strong>
      <span class="status <%= @campaign.status %>"><%= @campaign.status %></span>
    </p>
    <p><strong>Sent at:</strong> <%= @campaign.sent_at %></p>

    <p>
      <%= link_to 'Edit', edit_site_campaign_path(current_site, @campaign), class: 'button action' %>
      <%= link_to 'Send', send_out_site_campaign_path(current_site, @campaign),
          class: 'action button', method: :post, data: {
              confirm: 'Are you sure you want to send out this email campaign?',
              disable_with: 'Sending...'
          } %>
      <%= link_to 'Go back', site_campaigns_path(current_site), class: 'button' %>
    </p>
  </div>
</div>
