<div class="substep bar">
  <label class="toggle-showing-branding"
      title="Your bar will contain Hello Bar branding. By turning it off you will receive more clicks and conversions.">
    {{common/checkboxes/toggle-switch switch=model.show_branding}}
    Hello Bar branding
  </label>

  <label class="toggle-animation">
    {{common/checkboxes/toggle-switch switch=model.animated}}
    Animate entry/exit
  </label>

  {{#if canWiggle}}
    <label class="toggle-wiggling">
      {{common/checkboxes/toggle-switch switch=model.wiggle_button}}
      Wiggle button
    </label>
  {{/if}}

  <label class="toggle-hiding">
    {{common/checkboxes/toggle-switch switch=model.closable}}
    Allow to hide a bar
  </label>

  <label class="toggle-pushing-page-down">
    {{common/checkboxes/toggle-switch switch=model.pushes_page_down}}
    {{ pushesText }}
  </label>

  <label class="toggle-remaining-at-top">
    {{common/checkboxes/toggle-switch switch=model.remains_at_top}}
    Remains in place
  </label>

  <label>Placement</label>

  <div class="select-wrapper">
    {{#power-select options=placementOptions
    selected=selectedPlacementOption
    renderInPlace=true
    searchEnabled=false
    onchange=(action "selectPlacement") as |option|}}
      {{option.label}}
    {{/power-select}}
  </div>

  {{#if currentThemeIsGeneric}}

    <label>Bar Size</label>

    <div class="slider-wrapper">
      {{range-slider min=30 max=110 start=adoptedBarSize update="barSizeUpdated" leftLabel="small" rightLabel="large"}}
    </div>

  {{/if}}

  <label>When does it display? <a {{action "popDelayTootlipModal"}} class="tooltip-label">(what's this?)</a></label>

  <div class="select-wrapper">
    {{#power-select options=triggerOptions
    selected=selectedTriggerOption
    renderInPlace=true
    searchEnabled=false
    onchange=(action "selectTrigger") as |option|}}
      {{option.label}}
    {{/power-select}}
  </div>

</div>
