<div class="settings ember-view">

  <h5 class="step-title">Goals</h5>

  <div class="{{goalListCssClasses}}">

    {{#link-to 'goals.email' class='step-link-block'}}
      <span {{action 'closeDropdown'}}>
        <i class="icon-contacts"></i>
        <h6>Collect Email</h6>
        <p>Use your Hello Bar to collect visitors' email addresses</p>
      </span>
    {{/link-to}}

    {{#if canUseCallGoal}}
      {{#link-to 'goals.call' class='step-link-block'}}
        <span {{action 'closeDropdown'}}>
          <i class="icon-call"></i>
          <h6>Talk to Visitors</h6>
          <p>Let mobile visitors call you with a click</p>
        </span>
      {{/link-to}}
    {{/if}}

    {{#if canUseSocialGoal}}
      {{#link-to 'goals.social' class='step-link-block'}}
        <span {{action 'closeDropdown'}}>
          <i class="icon-social"></i>
          <h6>Social</h6>
          <p>Point visitors to your social media channels</p>
        </span>
      {{/link-to}}
    {{/if}}

    {{#link-to 'goals.click' class='step-link-block'}}
      <span {{action 'closeDropdown'}}>
        <i class="icon-clicks"></i>
        <h6>Click Link</h6>
        <p>Use your Hello Bar to drive more traffic to a specific URL</p>
      </span>
    {{/link-to}}

    {{#link-to 'goals.announcement' class='step-link-block'}}
      <span {{action 'closeDropdown'}}>
        <i class="icon-megaphone"></i>
        <h6>Announcement</h6>
        <p>Display a simple announcement to your visitors</p>
      </span>
    {{/link-to}}

    {{#if currentThemeIsGeneric}}
      <a {{action 'changeSettings'}} class="change-selection">
        <i class="icon-back1"></i>
        Change Goal
      </a>
    {{/if}}
  </div>

  {{outlet}}
</div>
