<div class="step-title">Goal</div>
<div class="step-title-hint">What do you want your Hello Bar to do?</div>

<div class="step-link-wrapper">

  <div class="step-link-block {{if isEmail 'is-selected'}}" {{action 'select' 'email'}}>
    <h6>Collect emails</h6>
    <img src="{{ image_path 'icons/goal-emails.svg' }}">

    <p>I want to collect my visitors email addresses.</p>
  </div>

  <div class="step-link-block {{if isCall 'is-selected'}}" {{action 'select' 'call'}}>
    <h6>Get phone calls</h6>
    <img src="{{ image_path 'icons/goal-calls.svg' }}">

    <p>Allow visitors to call you in one click</p>
  </div>

  <div class="step-link-block {{if isSocial 'is-selected'}}" {{action 'select' 'social'}}>
    <h6>Social traffic</h6>
    <img src="{{ image_path 'icons/goal-social.svg' }}">

    <p>Point visitors to your social media channels</p>
  </div>

  <div class="step-link-block {{if isTraffic 'is-selected'}}" {{action 'select'
                                                                       'traffic'}}>
    <h6>Target a URL</h6>
    <img src="{{ image_path 'icons/goal-url.svg' }}">

    <p>Drive traffic to a certain part of your site.</p>
  </div>

  <div class="step-link-block {{if isAnnouncement 'is-selected'}}" {{action 'select'
                                                                            'announcement'}}>
    <h6>Announcement</h6>
    <img src="{{ image_path 'icons/goal-announcement.svg' }}">

    <p>No buttons, just text.</p>
  </div>
</div>
