<b>MTD:<br><%= "#{@mtd_paid} Paid" %><br>
<%= "#{@mtd_trials} Trials" %><br>
<%= "#{@mtd_elite} Elites" %></b>

<center>
  <h1>Today Paid / Trials</h1>
  <%= "#{@today_elite} Elites" %>
  <p style="color:green;font-size:250px;">
    <%= "#{@today_stats}   /   #{@today_trials}" %>
  </p>

</center>

<center>
  <h1>Yesterday Paid / Trials</h1>
  <%= "#{@yesterday_elite} Elites" %>
  <p style="color:blue;font-size:250px;line-height: 200px;">
    <%= "#{@yesterday_stats}   /   #{@yesterday_trials}" %>
  </p>
</center>

<center>
  <h1>The Day Before That Paid / Trials</h1>
  <%= "#{@day_before_elite} Elites" %>
  <p style="color:purple;font-size:250px;line-height: 200px;">
    <%= "#{@day_before_stats}   /   #{@day_before_trials}" %>
  </p>
</center>
