<header>
  <h5>Get Facebook Likes</h5>
</header>

<div class="goal-wrapper template-form">
  <i class="large-icon icon-thumbsup"></i>

  <h6>What should your Hello Bar say?</h6>
  {{view Ember.TextField value=model.headline placeholder="Like us on Facebook!" maxlength=255}}

  <h6>What URL do you want users to Like on Facebook?</h6>
  <div {{bind-attr class="showFacebookUrl:nospace:bottom-spacer"}}>
    <div class="select-wrapper">
      {{view Ember.Select
        content=facebookLikeOptions
        value=selectedFacebookLikeOptions
        optionValuePath='content.value'
        optionLabelPath='content.label'
      }}
    </div>
  </div>
  {{view Ember.TextField value=model.settings.url_to_like placeholder=model.site.url maxlength=255 classBinding="showFacebookUrl:enabled:hidden"}}

  <div class="step-container">
      {{#link-to "interstitial" replace=true classNames="button cancel-button cancel"}}Cancel{{/link-to}}
    <button class="button save-editor" {{action 'closeInterstitial'}} {{bind-attr disabled=inputIsInvalid}}>Continue</button>
  </div>
</div>

<footer>
  <p>
    You can always change this later.
    <a href="mailto:support@hellobar.com?subject=Hello%20Bar%20-%20Getting%20Started">Need Help?</a>
  <p>
</footer>
