<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" href="<%= image_path('favicon.ico') %>">

  <title>Hello Bar</title>

  <!-- Custom FONT -->
  <%= render 'shared/typekit' %>
  <%= stylesheet_link_tag 'bootstrap' %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%= yield :head %>
</head>

<body>

  <%= yield %>

  <footer class="footer text-center bg-silver">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-inline list-footer">

            <li><a href="#">Sign In</a></li>
            <li><a href="#">Use Cases</a></li>
            <li><a href="#">Terms of Use In</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Help</a></li>
            <li class="copyright">&copy; Hello Bar 2017</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ./row -->

  </footer>

</body>

</html>
